<ion-view view-title="상세페이지" class="shop-info" hide-tabs="hide">
	<ion-nav-buttons side="left" class="{{}}">
		<span
				class="button button-clear icon ion-chevron-left back_icon" 
				ng-click="back()" 
				hide-state></span>
	</ion-nav-buttons>
	<ion-content overflow-scroll="true">
		<div class="shop-info-display">
        	<ion-slide-box on-slide-changed="slideChanged(index)"  ng-if="bannerList.length">
					<ion-slide class="banner_info" ng-repeat="item in bannerList">
						<img alt="" ng-src="http://52.79.78.117/img/{{item}}"  class="category-bb">
						<!-- total view 삭제 -->
						<!--<span class="shop-info-display-total">total {{total}}</span>-->
					</ion-slide>
			</ion-slide-box>
	  	</div>
		
		<div class="main-event-list clear" style="margin-top: -5px;">
			<div class="events">
				<!-- ion-android-favorite -->				
				<i ng-if="data.zzim_on === true"
					class="button icon ion-android-favorite cus-icon-type01 base-color" 
					ng-click="point('zzim')"></i>
				<i ng-if="data.zzim_on === false"
					class="button icon ion-android-favorite-outline cus-icon-type01 base-color" 
					ng-click="point('zzim')"></i>
				<!-- <i class="button icon ion-android-share-alt cus-icon-type01" ng-click="point('share')"></i> -->
			</div>
			<div class="links {{data.web_link?'on':''}}">
				<span ng-href="#"
				class="button button-stable"
				ng-click="webLink()">
					 페이스북에서 <span class="ls_005">보기</span>
				</span>
			</div>
		</div>
       	
       	<ul class="shop-info-top">
       		<li class="shop_nm">
				<span><b class="ls_005 font-light">{{data.shop_nm}}</b></span>
			</li>
			<li class="dscnt_txt">
				<b class="base-color">DISCOUNT</b> <span class="ls_005">{{data.dscnt_txt}}</span>
			</li>
			<li class="content">
				<span  class="ls_005">{{contents_s}}</span>
			</li>
		</ul>
		
		<div class="row use-chk">
			<div class="col wifi_yn">
				<img src="img/icon/service1{{data.wifi_yn?'on':''}}.png" class="use-icon" alt="" />
				<span class="use-txt">WIFI</span>
			</div>
			<div class="col park_yn">
				<img src="img/icon/service2{{data.park_yn?'on':''}}.png" class="use-icon" alt="" />
				<span class="use-txt">주차</span>
			</div>
			<div class="col deliv_yn">
				<img src="img/icon/service3{{data.deliv_yn?'on':''}}.png" class="use-icon" alt="" />
				<span class="use-txt">배달</span>
			</div>
			<div class="col wrap_yn">
				<img src="img/icon/service6{{data.wrap_yn?'on':''}}.png" class="use-icon" style="width: 32%;" alt="" />
				<span class="use-txt">포장</span>
			</div>
			<div class="col takbe_yn">
				<img src="img/icon/service4{{data.takbe_yn?'on':''}}.png" class="use-icon" alt="" />
				<span class="use-txt">택배</span>
			</div>
			<div class="col toilet_yn">
				<img src="img/icon/service5{{data.toilet_yn?'on':''}}.png" class="use-icon" alt="" />
				<span class="use-txt">화장실</span>
			</div>
		</div>
		
		<div class="detail">
			<h4 class="base-color">Discount information</h4>		
			<pre>{{contents}}</pre>
		</div>
		<div class="map-area">
			<div id="map" data-tap-disabled="false"></div>
			<p class="relativelayout">
				<b>주소</b>
				<span>{{data.shop_addr}}</span>
				
			</p>
		</div>
		
		
		<div class="keyword-list">
			<h4 class="base-color">Keyword</h4>
			<div>
				<span ng-repeat="item in kwList" 
						class="kw-item"
						ng-click="goKwSearch(item)">
						#{{item}}
				</span>
			</div>
		</div>
	</ion-content>
	<div class="shop-info-footer">
		<!-- <a ng-href="#"
				class="info-link txt-center"
				onclick="window.open('http://www.nraboy.com/contact', '_system', 'location=yes'); return false;">상세 더1 보기</a> -->
		<a ng-href="tel: {{data.call_no}}" class="call-link txt-center base-background" ng-click="point('call')">전화하기</a>
	</div>
</ion-view>