<ion-view view-title="내 관심 목록" class="zzim-list">
	<ion-content>
		<ion-list>
			<ion-item class="item-avatar item-icon-right" ng-repeat="item in all" type="item-text-wrap">
				<span class="item-avatar tn_img" >
					<img 
						ng-if="item.shop_img!=null"
						ng-src="http://52.79.78.117/img/{{item.shop_img}}">
					<img 
						ng-if="item.shop_img==null"
						ng-src="img/icon/thumb{{item.local_img}}.png">
				</span>
				<div class="paret_position">
					<a ng-href="#/tab/shop-detail/{{item.shop_id}}" class="bg_a"></a>
					<h2>{{item.shop_nm}}</h2>
					<p class="w80 fs_default">{{item.contents}}</p>
					<p class="w80">
						<span class="zzim_info fs_default"><i class="icon ion-heart base-color"></i>{{item.rec_cnt}}</span>
						<span class="addr_info fs_default"><i class="icon ion-ios-location-outline"></i>{{item.shop_addr}}</span>
					</p>
				</div>
				<em class="button icon ion-trash-a del" ng-click="zzimsDel($index)"></em>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>