<ion-view view-title="사업자회원가입" class="market-join" hide-tabs="hide" >
	<ion-nav-buttons side="left">
		<span class="button button-clear icon ion-chevron-left back_icon" 
				ng-click="back()" 
				hide-state></span>
	</ion-nav-buttons>
	<ion-content overflow-scroll="true">
		<h1 class="logo">
			<img src="img/logo.png" alt="" />
			<span>나만이 알고 있는 할인 꿀팁! 이제는 공유해주세요~</span>
		</h1>
		<form ng-submit="market_submit()">
			<div class="market_info dp">
				<p>
					<label class="relativelayout block">
						<i class="star_icon">*</i>
						<input type="text"
							class="default_padding fs_default"
							ng-model="data.shop_nm" 
							placeholder="업체 명을 입력 해주세요"   />
					</label>
				</p>
				<p class="biz_r_no relativelayout margin_t">
					<label class="relativelayout block">
						<i class="star_icon">*</i>
						<input type="text"
							class="default_padding fs_default"
							ng-model="data.biz_r_no"
							numbers-only maxlength="10"
							placeholder="사업자번호를 입력 해주세요" />
					</label>
					<span class="button" ng-click="biz_r_noChk()">중복확인</span>
				</p>
				<p class="biz_r_img button margin_t" ng-click="biz_r_imgReg()">
					<i class="icon ion-ios-camera-outline"></i>
					<span class="fs_default">사업자 등록증 사진을 첨부 해주세요</span>
				</p>
				<p class="subway_area margin_t">
					<label class="relativelayout star_icon fs_default block">
						<i>*</i>주변지하철(수도권)을 선택 해주세요
					</label>
					<input ng-model="data.line_num" 
							type="text" 
							class="button"  
							placeholder="호선" 
							readonly ng-click="subwayAction()" />
					<span>-</span>
					<input ng-model="data.station_nm" 
							type="text" 
							class="button"  
							placeholder="역명" 
							readonly  ng-click="subwayAction()" />
				</p>
				<p class="clear category_area margin_t">
					<label class="relativelayout star_icon fs_default block">
						<i>*</i>카테고리 <em>:</em>
					</label>
					<input class="button" 
							ng-click="category_pop()" 
							ng-model="data.code_nm" 
							readonly
							placeholder="카테고리 선택" />
				</p>
				<p class="margin_t">
					<label class="relativelayout block">
						<i class="star_icon">*</i>
						<input type="text" ng-model="data.user_nm"
							class="default_padding block fs_default"
							placeholder="대표자 또는 담당자 명을 입력해주세요"  />
					</label>
				</p>
				<p class="margin_t">
					<label class="relativelayout block">
						<i class="star_icon">*</i>							
						<input type="text" 
							class="default_padding block fs_default"
							numbers-only maxlength="11"
							placeholder="전화번호를 입력해 주세요"
							ng-model="data.phone_no" />
					</label>
				</p>
				<p class="margin_t">
					<label class="relativelayout block">
						<i class="star_icon">*</i>
						<input type="text" 
							class="default_padding block fs_default"
							numbers-only maxlength="11"
							placeholder="휴대폰번호를 입력 해주세요"
							ng-model="data.u_phone_no" />
					</label>
				</p>
				<p class="relativelayout margin_t">				
					<p for="post" class="post_no">
						<input ng-model="data.post_no" type="text" ng-value="{{data.post_no}}" placeholder="00000" readonly max-length="5" />
						<span  class="button addr_search" ng-click="postAction()">검색</span>
					</p>
					
					<label for="addr" class="addr_info">
						<textarea class="fs_default default_padding" 
								ng-model="data.addr" value="{{data.addr}}"
								placeholder="주소 정보" readonly ></textarea>
					</label>
				</p>
				<div class="date margin_t">
					<label class="relativelayout star_icon fs_default block">
						<i>*</i>서비스 이용기간을 선택 해주세요
					</label>
					<div class="relativelayout">				
						<ionic-datepicker class="start_dt" date="data.start_dt" min="startMin" max="startMax" callback="startDateFn" >
						    <span class="button button-block button-positive" ng-if="data.start_dt !=''"> {{ data.start_dt | date:'yyyy/MM/dd' }} </span>
						    <span class="button button-block button-positive" ng-if="data.start_dt ==''"> 시작날짜</span>
						</ionic-datepicker>
						<span class="wave">~</span>
						<ionic-datepicker class="end_dt" date="data.end_dt" min="endMin" max="endMax" callback="endDateFn" >
						    <span class="button button-block button-positive" ng-if="data.end_dt !=''"> {{ data.end_dt | date:'yyyy/MM/dd' }} </span>
						    <span class="button button-block button-positive" ng-if="data.end_dt ==''"> 종료날짜 </span>
						</ionic-datepicker>
					</div>
				</div>
				<p class="manager_member margin_t">
					<label class="relativelayout star_icon fs_default block">
						<i>*</i>담당자 <em>:</em>
					</label>
					<select 
						ng-options="manager_item.mngr_id as manager_item.mngr_nm for manager_item in manager_list" 
						ng-model="manager_item.mngr_id"
						ng-change="managerAction(manager_item)" >
					</select>
				</p>
				<div class="assent_chk margin_bt">
					<p class="fs_default clear">
						<label for="">
							<input type="checkbox" ng-model="data.access" />
							<span class="fs_default">서비스 이용약관 동의</span>
						</label>
						<em class="button" ng-click="assentPop('personal')" >[보기]</em>
					</p>
					<p class="fs_default clear">
						<label for="">
							<input type="checkbox" ng-model="data.personal" />
							<span class="fs_default">개인정보 취급방침 동의</span>
						</label>
						<em class="button" ng-click="assentPop('personal')">[보기]</em>
					</p>
				</div>
				<input class="button submit_type01 margin_t" type="submit"  value="승인요청 보내기" />
			</div>
			
		</form>
	</ion-content>
</ion-view>