<ion-view class="recent" view-title="최근 본 목록" hide-tabs="show">
	<ion-nav-buttons side="right">
		<button class="button button-small" 
			ng-click="allDel()">전체삭제</button>
	</ion-nav-buttons>
	<ion-content>
		<ion-list>
			<ion-item class="item-avatar item-icon-right" ng-repeat="item in all" type="item-text-wrap">
				<span class="item-avatar tn_img">
					<img ng-if="item.shop_img!=null"
						ng-src="http://52.79.78.117/img/{{item.shop_img}}" />
					<img ng-if="item.shop_img==null"
						 ng-src="img/icon/thumb{{item.local_img}}.png" />
				</span>
				<div class="paret_position">
					<a ng-href="#/tab/shop-detail/{{item.shop_id}}" class="bg_a"></a>
					<h2  >{{item.shop_nm}}</h2>
					<p class="w80 rec_contetns fs_default">{{item.contents}}</p>
				</div>
				<i class="button icon ion-trash-a del" ng-click="recentDel($index)"></i>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
