<ion-view view-title="내 업체 관리" class="manager" hide-tabs="hide" >
	<ion-nav-buttons side="left">
		<span
				class="button button-clear icon ion-chevron-left back_icon" 
				ng-click="back()" 
				hide-state></span>
	</ion-nav-buttons>
	<ion-content overflow-scroll="true">
		<div class="manager_info">
			<p class="img_area">
				<label class="relativelayout star_icon fs_default">
					<i>*</i>업체 사진을 등록 해주세여(최대 7장)
				</label>
				<span class="button button-full fs_default button-positive img_reg" 
					ng-click="imgReg()">사진등록</span>
			</p>
			
			<form ng-submit="manager_submit()">
			
				<label for="shop_nm" class="block">
					<input type="text" class="default_padding fs_bold"  ng-model="data.shop_nm" value="{{data.shop_nm}}" placeholder="매장명" />
				</label>
				<div class="call_chk">
					<p class="phon_area">
						<input class="phon_no default_padding" type="text" numbers-only maxlength="11" placeholder="전화번호를 입력해 주세요" ng-model="data.phone_no" />
						<input type="radio" name="group1" ng-model="data.call_choice" value="P">
					</p>
					<p class="cell_area">
						<input class="call_no default_padding" type="text" numbers-only maxlength="11" placeholder="휴대전화번호를 입력해 주세요" ng-model="data.cell_no" />
						<input type="radio" name="group1" ng-model="data.call_choice" value="C">
					</p>
				</div>
				
				<p class="relativelayout margin_t">
					<p for="post" class="post_no">
						<input ng-model="data.post_no" type="text" ng-value="{{data.post_no}}" placeholder="00000" readonly max-length="5" />
						<span  class="button addr_search" ng-click="postAction()">검색</span>
					</p>
					
					<label for="addr" class="addr_info">
						<textarea class="fs_default default_padding" 
								ng-model="data.addr" value="{{data.addr}}"
								placeholder="주소 정보" readonly ></textarea>
					</label>
				</p>
				
				<p class="subway_area margin_t">
					<label class="relativelayout star_icon fs_default block">
						<i>*</i>주변지하철(수도권)을 선택 해주세요
					</label>
					<input ng-model="data.line_num" 
							type="text" 
							class="button"  
							placeholder="호선" 
							readonly ng-click="subwayAction()" />
					<span>-</span>
					<input ng-model="data.station_nm" 
							type="text" 
							class="button"  
							placeholder="역명" 
							readonly  ng-click="subwayAction()" />
				</p>
				<p class="margin_t">
					<label class="relativelayout star_icon fs_default block">
						<i>*</i>할인 내용을 입력 해주세요
					</label>
					<input class="default_padding fs_default"
						 ng-model="data.dscnt_txt" type="text" value="{{data.dscnt_txt}}" placeholder="ex) 최대 50% 할인" />
				</p>
				<p class="margin_t clear category_area">
					<label class="relativelayout star_icon fs_default block">
						<i>*</i>카테고리 <em>:</em>
					</label>
					<input class="button" 
							ng-click="category_pop()" 
							ng-model="data.code_nm" 
							readonly
							placeholder="카테고리 선택" />
				</p>
				
				
				<ul class="choice_list">
					<li class="tit">
						<i>*</i>선택사항을 체크 해주세요
					</li>
					<li class="wifi first-child">
						<span>무선인터넷(wifi)</span>
						<label>
							<i>YES</i>
							<input type="radio" ng-model="data.wifi_yn" ng-value="true" name="wifi" />
						</label>
						<label>
							<i>NO</i>
							<input type="radio" ng-model="data.wifi_yn" ng-value="false" name="wifi" />
						</label>
					</li>
					<li class="park">
						<span>주차</span>
						<label>
							<i>YES</i>
							<input ng-model="data.park_yn" ng-value="true" type="radio" name="park" />
						</label>
						<label>
							<i>NO</i>
							<input ng-model="data.park_yn" ng-value="false" type="radio" name="park" />
						</label>
					</li>
					<li class="deliv">
						<span>배달</span>
						<label>
							<i>YES</i>
							<input ng-model="data.deliv_yn" ng-value="true" type="radio" name="deliv" />
						</label>
						<label>
							<i>NO</i>
							<input ng-model="data.deliv_yn" ng-value="false" type="radio" name="deliv" />
						</label>
					</li>
					<li class="wrap">
						<span>포장</span>
						<label>
							<i>YES</i>
							<input ng-model="data.wrap_yn" ng-value="true" type="radio" name="wrap" />
						</label>
						<label>
							<i>NO</i>
							<input ng-model="data.wrap_yn" ng-value="false" type="radio" name="wrap" />
						</label>
					</li>
					<li class="takbe">
						<span>택배</span>
						<label>
							<i>YES</i>
							<input ng-model="data.takbe_yn" ng-value="true" type="radio" name="takbe" />
						</label>
						<label for="takbe_n">
							<i>NO</i>
							<input ng-model="data.takbe_yn" ng-value="false" type="radio" name="takbe" />
						</label>
					</li>
					<li class="toilet">
						<span>화장실</span>
						<label>
							<i>YES</i>
							<input ng-model="data.toilet_yn" ng-value="true" type="radio" name="toilet" />
						</label>
						<label for="toilet_n">
							<i>NO</i>
							<input ng-model="data.toilet_yn" ng-value="false" type="radio" name="toilet" />
						</label>
					</li>
				</ul>
				<!--  web link admin only
				<p class="margin_t">
					<input 
						class="default_padding fs_default"
						id="web_link" 
						ng-model="data.web_link" 
						type="text" 
						value="{{data.web_link}}" placeholder="페이스북 링크를 적어주세요" />
				</p> -->
				
				<p class="fs_default kw_area margin_t">
					<textarea 
						ng-model="data.keyword" 
						name="m_keyword" 
						value="{{data.keyword}}" 
						placeholder="키워드를 입력 해주세요 (ex. #서울#맛집#무한리필)"></textarea>
				</p>
				
				<p class="margin_t">
					<textarea 
						ng-model="data.contents" 
						maxlength="700" 
						name="m_contents" 
						value="{{data.contents}}" 
						placeholder="추가 내용을 입력 해주세요 (ex. 고정 할인 메뉴, 이벤트 등)"></textarea>
				</p>
				<input class="button submit_type01 margin_t" type="submit"  value="등록"  />
			</form>
		</div>
	</ion-content>
	
</ion-view>