<ion-popover-view class="user-menu">
	<ion-header-bar class="bar bar-header bar-positive">
		<h1 class="title">사용자페이지</h1>
		<button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
	</ion-header-bar>
	<ion-content>
		<div class="relativelayout">
			<button class="button customer_center_icon" ng-click="customer('customer_center')">
				<i class="icon ion-headphone"></i>
				<span>고객센터</span>
			</button>
			<button class="button setting_icon" ng-click="customer('setting')">
				<i class="icon ion-gear-a" ></i>
				<span>환경설정</span>
			</button>
			
			<ul class="{{login_bool?'none_block':'block'}}" >
				<li class="user_thumb">
					<p><img ng-src="img/icon/thumb1.png"/></p>
					<span>bogoga</span>
				</li>
				<li class="user_info">
					<span class="button" ng-click="goLogin()">로그인 / 회원가입</span>
				</li>
			</ul>
			<ul class="{{login_bool?'block':'none_block'}}">
				<li class="user_thumb">
					<p><img ng-src="{{thumb}}"/></p>
					<span ng-if="biz_chk === true">{{user.shop_nm}}</span>
					<span ng-if="biz_chk === false">{{user.name}}</span>
				</li>
				<li class="user_info">
					
					<span 
						ng-if="biz_chk === true"
						class="button" 
						ng-click="manager()"><i class="icon ion-compose"></i>내업체 관리</span>
					<span 
						ng-if="biz_chk === false"
						class="button" 
						ng-click="marketJoin()">사업자 회원가입</span>
				</li>
			</ul>
		</div>
		<div class="user_recommend">
			<ul >
				<li class="button" 
					ng-repeat="item in band_link"
					ng-click="bandLinkAct(item)">
					<i class="icon ion-volume-low"></i>
					<b>facebook</b>
					<span>{{item.tit}}</span>
				</li>
				<!-- <li class="button">
					<i class="icon ion-volume-low"></i>
					<b>facebook</b>
					<span>오늘의 메뉴 보러가기!</span>
				</li>
				<li class="button">
					<i class="icon ion-volume-low"></i>
					<b>facebook</b>
					<span>오늘의 메뉴 보러가기!</span>
				</li> -->
			</ul>
		</div>
	</ion-content>
</ion-popover-view>