<div class="event-search" ng-controller="event-searchCtrl">
	<div class="search_bar">
		<form class="bar bar-header item-input-inset">
			<label class="item-input-wrapper">
				<input 
					ng-model="data.seachVal"
					type="search" 
					placeholder="ex)#서울 #홍대 #무한리필">
			</label>
			<button 
				ng-click="goMain()"
				class="button icon ion-ios-search placeholder-icon"></button>
		</form>
	</div>
	
	
	<div class="local-list">
		<ul class="clear">
			<li class="relativelayout" 
				ng-repeat="item in local_kw"
				ng-click="kwAdd('#{{item.keyword}}')">
				<img class="button" ng-src="img/icon/kw_local_{{item.local}}.png" 
					alt="" />
				<span>#{{item.keyword}}</span>
			</li>
		</ul>
		
		
	</div>
	
	<div class="keyword-list">
		<h4>추천 검색어 Best!!!</h4>
		<ul>
			<li class="button"
				ng-repeat="item in band_kw"
				ng-if="item.type == 'R'"
				ng-click="kwAdd('{{item.band_kw}}')">{{item.band_kw}}</li>
		</ul>
	</div>
</div>