<div class="subway" ng-controller="SubwayCtrl">
	<div class="subway_tit clear relativelayout">
		<h2 class="txt-center">호선</h2>
		<span class="bar-center"></span>
		<h2 class="txt-center">역명</h2>
	</div>
	<div class="row">
		<div class="col line_code">
			<div class="col-scroll-wrapper">
				<span class="list-item txt-center" 
					ng-repeat="(key,val) in line_code" 
					ng-click="lineClick($event,'{{val}}')">{{key}}</span>
			</div>
		</div>
		<div class="col subway_nm">
			<div class="col-scroll-wrapper" id="station-scroller">
				<span class="list-item txt-center" 
					ng-repeat="item in subway_row" 
					ng-click="subwayClick('{{item}}')">{{item.STATION_NM}}</span>
			</div>
		</div>
	</div>
</div>
