<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-only tabs-color-active-positive {{$root.hideTabs}}" >
  <!-- category Tab -->
  <ion-tab title="MainList" icon-off="ion-ios-home-outline un-base-color" icon-on="ion-ios-home-outline base-color" href="#/tab/main-list">
    <ion-nav-view name="tab-main-list"></ion-nav-view>
  </ion-tab>

  <!-- Search Tab -->
  <ion-tab title="Search" icon-off="ion-ios-search un-base-color" icon-on="ion-ios-search base-color" href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="user-menu" 
			icon-off="ion-ios-paw-outline un-base-color" 
			icon-on="ion-ios-paw-outline base-color" 
			ng-click="goUserMenu($event)"
			>
    <ion-nav-view name="user-menu"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="Recent" icon-off="ion-ios-book-outline un-base-color" icon-on="ion-ios-book-outline base-color" href="#/tab/recent">
    <ion-nav-view name="tab-recent"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="Zzims" icon-off="ion-ios-heart-outline un-base-color" icon-on="ion-ios-heart-outline base-color" href="#/tab/zzims">
    <ion-nav-view name="tab-zzims"></ion-nav-view>
  </ion-tab>
  
  
  <!-- hidden page -->
	<ion-tab class="none_block" title="shop-detail" href="#/tab/shop-detail">
		<ion-nav-view name="tab-shopDetail"></ion-nav-view>
	</ion-tab>
	<ion-tab class="none_block" title="manager" href="#/tab/manager">
		<ion-nav-view name="tab-manager"></ion-nav-view>
	</ion-tab>
	<ion-tab class="none_block" title="marketJoin" href="#/tab/marketJoin">
		<ion-nav-view name="tab-marketJoin"></ion-nav-view>
	</ion-tab>
</ion-tabs>
