<ion-content overflow-scroll="true">
<p>
	<b>개인정보취급방침<br />
<br />
[차례]<br />
1. 총칙<br />
2. 개인정보의 수집방법 및 항목<br />
3. 개인정보의 수집 및 이용목적<br />
4. 개인정보 수집, 이용, 제공에 대한 동의<br />
5. 개인정보의 목적 외 이용 및 제 3자 제공<br />
6. 개인정보의 보유기간 및 파기<br />
7. 이용자 및 법정대리인의 권리와 그 행사방법<br />
8. 위치기반정보의 수집에 관한 사항<br />
9. 개인정보의 기술적/관리적 보호 대책<br />
10. 의견수렴 및 불만처리<br />
11. 개인정보관리책임자 및 담당자<br />
12. 고지의 의무</b><br />
<br />
<br />
<b>1. 총칙</b><br />
서비(SERVI) [이하 “회사”]는 운영하는 웹사이트 및 어플리케이션(이하 "보고가") 회원의 개인정보보호를 소중하게 생각하고, 회원의 개인정보를 보호하기 위하여 항상 최선을 다해 노력하고 있습니다.<br />
<br />
1. 1) 회사는 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」을 비롯한 모든 개인정보보호 관련 법률규정을 준수하고 있으며, 관련 법령에 의거한 개인정보취급방침을 정하여 이용자 권익 보호에 최선을 다하고 있습니다.<br />
2. 2) 회사는 「개인정보취급방침」을 제정하여 이를 준수하고 있으며, 이를 인터넷사이트 및 모바일 어플리케이션에 공개하여 이용자가 언제나 용이하게 열람할 수 있도록 하고 있습니다.<br />
<br />
<b>2. 개인정보의 수집방법 및 항목</b><br />
회사는 회원가입, 원활한 상담, 각종 서비스의 제공 등을 위해 아래와 같은 최소한의 개인정보를 수집하고 있습니다.<br />
<br />
1. 1) 회원가입 시점에서 수집하는 항목<br />
- 이메일 주소, 휴대폰 번호(단, 할인 사업장 회원의 경우 할인 사업장명, 할인 사업장 대표연락처, 할인 사업장 등록번호, 할인 사업장 대표자 정보 등 할인 사업장과 관련된 사항을 추가로 수집합니다)<br />
<br />
2. 2) 서비스 이용과정에서 수집될 수 있는 개인정보의 범위<br />
- 서비스 이용과정에서 이용자가 입력한 정보 및 작성한 저작물<br />
- 신고기능을 이용하는 경우 휴대폰 번호<br />
<br />
3. 3) 개인정보의 수집방법<br />
- 모바일애플리케이션, 웹페이지, 서면양식, 팩스, 고객센터를 통한 전화와 온라인 상담, 이벤트 응모<br />
- 생성정보 수집 툴을 통한 수집<br />
<br />
<b>3. 개인정보의 수집 및 이용목적</b><br />
<br />
1. 1) 서비스의 원활한 제공 및 운영<br />
2. 2) 회원관리<br />
회원제 서비스 이용, 개인식별, 불량회원의 부정 이용방지와 비인가 사용방지, 가입의사 확인, 가입 및 가입횟수 제한, 분쟁 조정을 위한 기록보존, 불만처리 등 민원처리, 고지사항 전달<br />
3. 3) 마케팅 및 광고에의 활용<br />
고객별 맞춤 서비스 제공, 통계학적 특성에 따른 서비스 제공 및 광고 게재, 정기 간행물 발송, 서비스의 유효성 확인, 이벤트 및 광고성 정보 제공 및 참여기회 제공, 접속빈도 파악, 회원의 서비스 이용에 대한 통계<br />
<b>4. 개인정보 수집, 이용, 제공에 대한 동의</b><br />
<br />
회사는 이용자가 최초 회원가입 시 또는 서비스 이용과 관련해 개인정보를 입력할 시 개인정보취급방침 및 이용약관 등의 내용에 대해 동의 여부를 체크할 수 있는 절차를 마련하여, 이를 체크하면 개인정보수집에 대해 동의한 것으로 취급합니다.<br />
<br />
<b>5. 개인정보의 목적 외 이용 및 제 3자 제공</b><br />
<br />
1. 1) 회사는 이용자의 개인정보를 “3. 개인정보의 수집 및 이용목적” 에서 고지한 범위 내에서 사용하며 동 범위를 초과하여 이용하거나 원칙적으로 제3자에게 제공하지 않습니다.<br />
2. 2) 다만 다음의 경우에는 합당한 절차를 통한 회원의 동의를 얻어 개인정보를 제공 또는 이용할 수 있습니다.<br />
① 제휴관계: 보다 나은 서비스 제공을 위하여 당사는 회원의 개인정보를 제휴사에 제공할 수 있습니다. 이 경우 사전에 회원에게 제휴사, 제공되는 개인정보의 항목, 개인정보 제공 목적, 제공기간, 개인정보보호방안 등에 대해서 개별적으로 동의를 구하는 절차를 거치게 되며, 회원의 동의가 없는 경우에는 제휴사에게 이를 제공하지 않으며, 제휴관계의 변화 또는 종결될 경우에도 고지합니다. 또한 제휴관계가 종결될 경우 제공된 개인정보에 대해서는 회원님의 동의가 없는 경우 지체 없이 파기하도록 조치하며 개인정보 제공에 동의하더라도 언제든지 그 동의를 철회할 수 있습니다.<br />
② 위탁처리: 원활한 업무처리와 회원에게 보다 나은 서비스 제공을 위하여 회원의 개인정보를 위탁하여 처리할 수 있으며, 이 경우 반드시 사전에 위탁처리 업체명과 목적, 위탁처리 되는 개인정보의 범위, 위탁기간 등에 대해 상세하게 고지합니다.<br />
3. 3) 다음은 예외로 합니다.<br />
①서비스 제공에 따른 요금정산을 위하여 필요한 경우<br />
②회사가 제공하는 서비스를 통하여 거래가 성사된 경우, 거래 당사자간의 원활한 의사소통을 위하여 관련된 정보를 필요한 범위 내에서 거래당사자에게 제공하는 경우<br />
③이용자들이 사전에 동의한 경우<br />
④법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우<br />
<br />
<b>6. 개인정보의 보유기간 및 파기</b><br />
<br />
1. 1) 회사가 회원의 개인정보를 수집하는 경우 그 보유기간은 원칙적으로 회원가입 후 약관 제10조에 의한 ‘계약기간 및 이용계약의 종료시’까지며, 이용계약 종료의 경우 회사는 회원의 개인정보를 즉시 파기하며 제3자에게 기 제공된 정보에 대해서도 지체 없이 파기하도록 조치합니다. (단, 재가입유예기간 동안의 재가입 방지 등을 위해 이용계약이 종료한 날로부터 2개월 경과 후에 파기하도록 합니다.)<br />
또한, 다음의 경우 각각 명시한 기간 동안 개인정보를 보유합니다.<br />
① 상법 등 법령의 규정에 의하여 보존할 필요성이 있는 경우 법령에서 규정한 보존기간 동안 거래내역과 최소한의 기본정보를 보유<br />
② 보유기간을 미리 공지하고 그 보유기간이 경과하지 아니한 경우와 개별적으로 회원의 동의를 받을 경우에는 약정한 기간 동안 보유<br />
③ 다음의 경우 명시한 기간 동안 개인정보를 보유<br />
- 계약또는 청약철회 등에 관한 기록: 5년<br />
- 할인 정보 콘텐츠 등록에 관한 기록: 5년<br />
- 소비자의 불만 또는 분쟁처리에 관한 기록: 3년<br />
- 부정이용 등에 관한 기록: 5년<br />
<br />
2. 2) 회사는 고객의 개인정보를 보호하여 개인정보 유출로 인한 피해가 발생하지 않도록 하기 위하여 다음과 같은 방법을 통하여 개인정보를 파기합니다.<br />
- 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다.<br />
- 전자적 파일 형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.<br />
<br />
3. 3) 회원의 동의를 받아 보유하고 있는 개인정보에 대한 당해 회원의 열람요구가 있을 경우 회사는 지체 없이 이를 열람, 확인할 수 있도록 조치합니다.<br />
<br />
<b>7. 이용자 및 법정대리인의 권리와 그 행사방법</b><br />
<br />
1) 이용자 및 법정 대리인은 언제든지 등록되어 있는 자신 또는 대리자의 개인정보를 조회하거나 수정할 수 있으며 가입 해지를 요청할 수도 있습니다.<br />
2) 이용자 혹은 대리인의 개인정보 조회, 수정을 위해서는 ‘내 정보’를, 가입 해지(동의철회)를 위해서는 고객센터를 통해 본인확인 절차를 거치신 후 직접 열람, 정정 또는 탈퇴 요청이 가능합니다.<br />
3) 개인정보관리책임자에게 서면, 전화 또는 이메일로 연락하여 개인정보의 조회, 수정 및 가입 해지 요청이 가능합니다.<br />
4) 개인정보의 오류에 대한 정정을 요청하신 경우에는 정정을 완료하기 전까지 당해 개인정보를 이용 또는 제공하지 않습니다. 또한 잘못된 개인정보를 제3자에게 이미 제공한 경우에는 정정 처리결과를 제3자에게 통지합니다.<br />
5) 회사는 이용자 혹은 법정 대리인의 요청에 의해 해지 또는 삭제된 개인정보는 6조 “개인정보의 보유기간 및 파기”에 명시된 바에 따라 처리하고 그 외의 용도로 열람 또는 이용할 수 없도록 처리하고 있습니다.<br />
<br />
<b>8. 개인정보의 기술적/관리적 보호 대책</b><br />
<br />
회사는 이용자들의 개인정보를 취급함에 있어 개인정보가 분실, 도난, 누출, 변조 또는 훼손되지 않도록 안전성 확보를 위하여 다음과 같은 기술적/관리적 대책을 강구하고 있습니다.<br />
단, 이용자 본인의 부주의나 인터넷 또는 통신상의 문제로 개인정보가 유출되어 발생한 문제에 대해 회사는 일체의 책임을 지지 않습니다.<br />
<br />
1) 해킹 등에 대비한 대책<br />
회사는 해킹이나 컴퓨터 바이러스 등에 의해 회원의 개인정보가 유출되거나 훼손되는 것을 막기 위해 최선을 다하고 있습니다.<br />
개인정보의 훼손에 대비해서 자료를 수시로 백업하고 있고, 최신 백신프로그램을 이용하여 이용자들의 개인정보나 자료가 누출되거나 손상되지 않도록 방지하고 있으며, 암호화통신 등을 통하여 네트워크상에서 개인정보를 안전하게 전송할 수 있도록 하고 있습니다.<br />
그리고 침입차단시스템을 이용하여 외부로부터의 무단 접근을 통제하고 있으며, 기타 시스템적으로 보안성을 확보하기 위한 가능한 모든 기술적 장치를 갖추려 노력하고 있습니다.<br />
<br />
2) 취급 직원의 최소화 및 교육<br />
회사의 개인정보관련 취급 직원은 담당자에 한정시키고 있고 이를 위한 별도의 관리자 권한를 부여하여 정기적으로 갱신하고 있으며, 담당자에 대한 수시 교육을 통하여 직방 개인정보취급방침의 준수를 항상 강조하고 있습니다.<br />
<br />
<b>9. 의견수렴 및 불만처리</b><br />
<br />
1) 회사는 개인정보와 관련한 이용자의 의견을 소중하게 생각하며, 이용자는 개인정보 관련 문의에 대하여 성실한 답변을 받을 권리가 있습니다.<br />
<br />
2) 회사는 이용자와의 원활한 의사소통을 위해 고객센터를 운영하고 있으며 상세사항은 다음과 같습니다.<br />
<b>[고객센터]</b><br />
대표번호: 02-431-0522<br />
FAX: 02-443-0522<br />
E-mail: servi@servi.co.kr<br />
주소: 서울특별시 송파구 중대로 97, 효원빌딩 5층 5-102호<br />
<br />
3) 고객센터 전화상담 시간은 점심시간(13:00-14:00)을 제외한 평일 10:00~18:00까지로 토요일 및 공휴일은 운영하지 않으며, 심야시간이나 공휴일에는 고객센터에 문의하기를 통하여 문의하실 수 있습니다.<br />
4) 기타 개인정보에 관한 상담이 필요한 경우에는 개인정보침해신고센터, 대검찰청 인터넷범죄수사센터, 경찰청 사이버테러대응센터 등으로 문의하실 수 있습니다.<br />
<br />
<b>개인정보침해신고센터</b><br />
전화 : (국번없이)1301/휴대전화:지역번호+1301<br />
URL : http://www.cyberprivacy.or.kr<br />
대검찰청 인터넷범죄수사센터 전화: 02-3480-3600<br />
URL: http://www.spo.go.kr<br />
경찰청 사이버테러대응센터 전화: 02-393-9112<br />
URL : http://www.netan.go.kr<br />
<br />
<b>11. 개인정보관리책임자 및 담당자</b><br />
<br />
1) 개인정보관리책임자는 고객의 개인정보를 보호하고 유출을 방지하는 책임자로서 이용자가 안심하고 회사가 제공하는 서비스를 이용할 수 있도록 도와드리며, 개인정보를 보호하는데 있어 이용자에게 고지한 사항들에 반하여 사고가 발생할 시에는 이에 관한 책임을 집니다.<br />
2) 기술적인 보완조치를 취하였음에도 불구하고 해킹 등 기본적인 네트워크상의 위험성에 의해 발생하는 예기치 못한 사고로 인한 정보의 훼손 및 멸실, 이용자가 작성한 게시물에 의한 각종 분쟁 등에 관해서는 책임이 없습니다.<br />
3) 회사는 정보통신망 이용촉진 및 정보보호 등에 관한 법률에서 규정한 관리책임자를 다음과 같이 지정합니다.<br />
<br />
<b>[고객센터]</b><br />
대표번호: 02-431-0522<br />
FAX: 02-443-0522<br />
E-mail: servi@servi.co.kr<br />
<br />
<b>[ 개인정보보호 책임자 ]</b><br />
성명 : 최재운<br />
직위 : 대표<br />
E-mail : servi@servi.co.kr<br />
대표번호: 02-431-0522<br />
FAX: 02-443-0522<br />
<br />
기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.<br />
- 개인정보침해신고센터 (www.118.or.kr / 118)<br />
- 정보보호마크인증위원회 (www.eprivacy.or.kr / 02-580-0533~4)<br />
- 대검찰청 첨단범죄수사과 (www.spo.go.kr / 02-3480-2000)<br />
- 경찰청 사이버테러대응센터 (www.ctrc.go.kr / 02-392-0330)<br />
<br />
<b>12. 고지의 의무</b><br />
<br />
현 개인정보취급방침은 2016년 10월 1일에 제정되었으며, 정부 및 회사의 정책 또는 보안기술의 변경에 따라 내용의 추가, 삭제 및 수정이 있을 경우에는 개정 최소 7일 전부터 서비스의 ’공지사항’란을 통해 고지하며, 본 정책은 공지한 날로부터 시행됩니다.<br />
<br />
가. 공고일자 : 2016년 10월 01일<br />
</p>
</ion-content>