<ion-view view-title="이용약관" class="accessterms">
	<ion-nav-buttons side="left" >
		<span class="button icon button-clear ion-chevron-left back_icon" 
				ng-click="back()" 
				hide-state></span>
	</ion-nav-buttons>
	<ion-content class="dp" scroll="false" overflow-scroll="false">
		<div class = "row category-inner-tabs">
		   <a ng-repeat="item in tabList" 
			item="item"
			class="category-tab-item col txt-center"
		   	ng-class = "item.active ? 'cus-active' : 'cus-default' " 
		   	ng-click="tabAction(item)"
		   	>{{ item.tabTitle }}</a>
		</div>
	
		<div class="assent-inc" ng-include src="tab.url" ></div>
		
	</ion-content>
</ion-view>