<ion-view view-title="고객센터" class="customer_center">
	<ion-nav-buttons side="left" >
		<span
				class="button icon button-clear ion-chevron-left back_icon" 
				ng-click="back()" 
				hide-state></span>
	</ion-nav-buttons>
	<ion-content overflow-scroll="true">
	<ul class="list">
			<li class="item" ng-click="guide()">
				<span>안내</span>
			</li>
			<li class="item" ng-click="inquiry()">
				<span>문의하기</span>
			</li>
			<li class="item" ng-click="accessterms()">
				<span>이용약관</span>
			</li>
		</ul>
	</ion-content>
</ion-view>