<ion-view view-title="안내" class="guide">
	<ion-nav-buttons side="left" >
		<span
				class="button button-clear icon ion-chevron-left back_icon" 
				ng-click="back()" 
				hide-state></span>
	</ion-nav-buttons>
	<ion-content>
		<p><img src="img/event/guide_01.jpg" alt="" /></p>
		<p><img src="img/event/guide_02.jpg" alt="" /></p>
		<p><img src="img/event/guide_03.jpg" alt="" /></p>
		<p><img src="img/event/guide_04.jpg" alt="" /></p>
	</ion-content>
</ion-view>