<ion-view view-title="문의하기" class="inquiry">
	<ion-nav-buttons side="left" >
		<span
				class="button button-clear icon ion-chevron-left back_icon" 
				ng-click="back()" 
				hide-state></span>
	</ion-nav-buttons>
	<ion-content>
		<p><img src="img/event/inquiry_01.jpg" alt="" /></p>
		<p><img src="img/event/inquiry_02.jpg" alt="" /></p>
		<p><img src="img/event/inquiry_03.jpg" alt="" /></p>
	</ion-content>
</ion-view>