<ion-view view-title="비밀번호 변경" class="pw_change">
	<ion-nav-buttons side="left" >
		<span
				class="button button-clear icon ion-chevron-left back_icon" 
				ng-click="back()" 
				hide-state></span>
	</ion-nav-buttons>
	<ion-content>
		<div class="pw_change-inner dp">
			<h1 class="logo">
				<img src="img/logo.png" alt="" />
				<span>새로운 비밀번호를 입력 해주세요</span>
			</h1>
			<form ng-submit="pwc_submit()">
				<p>
					<label for="">
						<input type="text"
							class="fs_default default_padding"
							placeholder="비밀번호를 입력 해주세요 (최대10자)"
							maxlength="10"
							ng-model="data.password" />
					</label>
				</p>
				<p>
					<label for="">
						<input type="text"
							class="fs_default default_padding"
							placeholder="비밀번호를 다시 입력 해주세요"
							maxlength="10"
							ng-model="data.password_chk" />
					</label>
				</p>
				
				<input class="button submit_type01 fs_default" type="submit"  value="비밀번호 변경" />
			</form>
		</div>
	</ion-content>
</ion-view>