<ion-view view-title="환경설정" class="setting">
	<ion-nav-buttons side="left" >
		<span
				class="button button-clear icon ion-chevron-left back_icon" 
				ng-click="back()" 
				hide-state></span>
	</ion-nav-buttons>
	<ion-content>
		<ul class="list">
			<li class="item">
				<span>버전</span>
				<em>{{version}}</em>
			</li>
			<!-- <li class="item item-toggle">
				<span>푸쉬알림</span>
				<label class="toggle toggle-assertive">
					<input type="checkbox">
						<div class="track">
							<div class="handle"></div>
						</div>
 				</label>
			</li> -->
			<li class="item" ng-click="pwSetting()">
				<span >비밀번호 설정</span>
			</li>
			<li class="item loginout" ng-click="logout()">
				<span >로그아웃</span>
			</li>
		</ul>
	</ion-content>
</ion-view>