<ion-content class="assent">
	<!-- tab header -->
	<div class = "row category-inner-tabs">
	   <a ng-repeat="item in tabList" 
		item="item"
		class="category-tab-item col txt-center"
	   	ng-class = "item.active ? 'cus-active' : 'cus-default' " 
	   	ng-click="category_tab(item)"
	   	>{{ item.tabTitle }}</a>
	</div>
	<!-- end tab header -->
	<!-- ng-include -->
	<div class="assent-inc" ng-include src="tab.url" ></div>
	<!-- <div class="assent-inc" ng-include="src='templates/popup/inc/access.html'"></div> -->
	<!-- end ng-include -->
</ion-content>