<div class="inner">
	<i class="button icon ion-close-round popup_close" ng-click="popup_close()">close</i>
	<ul class="clear">
		<li ng-repeat="item in category_list" ng-if="item.code_cd != 'CG00'" 
			class = "cus-col txt-center"
			ng-click="categoryAction({{item}})">
			<img src="img/icon/category_{{item.code_cd|lowercase}}.png" 
				class="w90" alt="" />
			<span class="block fs_08">{{item.code_nm}}</span>
		</li>
	</ul>
</div>