<div class="inner">
	<i class="button icon ion-close-round popup_close" ng-click="popup_close()">close</i>
	<i class="button all" ng-click="getImageSaveContact()">재등록</i>
	<ul>
		<li class="relativelayout"
			ng-repeat="item in shop_img" >
			<input type="checkbox" ng-model="item.view_chk"  />
			<img 
				ng-src="{{item.src}}{{item.en_base64}}"
				ng-click="imgScale({{item}})" />
			<span class="txt_info" ng-if="$index == 0">메인</span>
			<span class="txt_info" ng-if="$index != 0">상세</span>
			<span class="button each" 
				ng-click="imgChange($index)">앨범에서 선택</span>
		</li>
	</ul>
	<span class="button botton_btn" ng-click="popup_close()">등록</span>
</div>