<div class="inner">
	<i class="button icon ion-close-round popup_close" ng-click="popup_close()">close</i>
	<div>
		
		<div class="mj_user_info">
			<img src="img/logo.png" alt="" class="logo" />
			<img src="img/icon/thumb1.png" alt="" class="th" />
			
			<p>
				<b>{{user.email}}</b>님이 로그인 하셨습니다.
			</p>
			<p>일반 사용자는 내 포스팅 관리에서 사진1장,</p>
			<p>할인 및 이벤트 내용을 등록 후 공유 할 수 있습니다.</p>
		</div>
		<div class="mj_detail">
			<p><img src="img/etc/marketJoin_img.png" alt="" /></p>
		</div>
		<span class="submit_btn" ng-click="goMarketJoin()">사업자회원가입</span>
	</div>
	
</div>