<div class="inner">
	<i class="button icon ion-close-round popup_close" ng-click="popup_close()">close</i>
	<ul>
		<li ng-repeat="item in order_data"
			class="txt-center padding button" 
			ng-click="orderAction('{{item.val}}')">{{item.txt}}</li>
	</ul>
</div>