<div class="post dp">
	<div class="post_search">
		<form ng-submit="postSearch()">
			<input type="text" ng-value="addr_txt" name="addr_txt" ng-model="addr_txt" />
			<input type="submit"  value="검색" class="button" />
		</form>
	</div>
	<div class="post_info"> 
	 	<p>*지번 주소 : 동/읍/면/리 + 지번을 입력 해주세요</p>
	 	<p>*도로명 주소 : 도로명 + 건물번호를 입력 해주세요</p>
	</div>
</div>
<ion-content class="post dm">
    <ion-list
	          show-delete="shouldShowDelete"
	          show-reorder="shouldShowReorder"
	          can-swipe="listCanSwipe">
			<ion-item 
		  		ng-repeat="item in all" 
		  		class="padding_none clear" 
		  		item="item"
		  		ng-click="postSelect(item)">
					<span class="post_no">{{item.split('|')[0]}}</span>
					<span class="post_bar">|</span>
					<span class="addr_info">{{item.split('|')[1]}}</span> 
			</ion-item>
    </ion-list>
    
    <ion-infinite-scroll 
    	ng-style="display_none"
		ng-if="!noMoreItemsAvailable"
		on-infinite="loadMore()" 
		distance="10%">
		<ion-infinite-scroll-content
	      loadingSpinner="bubbles"
	      loadingText="Loading more data...">
	    </ion-infinite-scroll-content>
	</ion-infinite-scroll>
	
	
</ion-content>