<ion-content
	 overflow-scroll="true" class="subway dp">
	<div class="row">
		<div class="col line_code">
			<h2 class="tit txt-center">호선</h2>
			<div class="col-scroll-wrapper" style="top:48px;">
				<span class="list-item txt-center" 
					ng-repeat="(key,val) in line_code" 
					ng-click="lineClick($event,'{{val}}')">{{key}}</span>
			</div>
		</div>
		<div class="col subway_nm">
			<h2 class="tit txt-center">역명</h2>
			<div class="col-scroll-wrapper" id="station-scroller" style="top:48px;">
				<span class="list-item txt-center" 
					ng-repeat="item in subway_row" 
					ng-click="subwayClick('{{item}}')">{{item.STATION_NM}}</span>
			</div>
		</div>
	</div>
</ion-content>
