<ion-view view-title="Category" class="category">
	<ion-content class="padding">
		<ion-scroll zooming="false" direction="y"  style="height:{{attr.deviceH}}px;">
			<div class="scroll-inner" style="height:{{attr.viewH}}px">
				<!-- slide banner -->
				<!--  
					비동기로 데이터를 넣을수 ion-slide-box가 인식시키기 위해 
					does-continue="true"
					와
					해당 데이터 갯수를 미리 알려주어야한다
					ng-if="bannerList.length"
				-->
				<ion-slide-box on-slide-changed="slideChanged(index)"  ng-if="bannerList.length">
					<ion-slide ng-repeat="item in bannerList">
						<img alt="" src="http://52.79.78.117/img/{{item.img_path}}"  class="category-bb">
					</ion-slide>
				</ion-slide-box>
				<!-- end slide banner -->
				
				
				<!-- tab header -->
				<div class = "row category-inner-tabs">
				   <a ng-repeat="item in tabList" item="item" class="category-tab-item col txt-center"
				   	ng-class = "item.active ? 'cus-active' : 'cus-default' " 
				   	on-release="category_tab(item)"
				   	>{{ item.tabTitle }}</a>
				</div>
				<!-- end tab header -->
				
				<!-- ng-include -->
				<div class="category-inc" ng-include src="tab.url" ></div>
				<!-- end ng-include -->
			</div>
		</ion-scroll>
	</ion-content>
</ion-view>
