<div class="event-category" ng-controller="EventCategoryCtrl">
	<div class="bigkeywod-list">
		<ul class="txt-center">
			<li class="list-item" ng-repeat="item in eventList" ng-if="item.view < 10" on-release="goMain()">
				<!-- <a href="#/tab/main-list"> -->
				<img src="img/icon/keyword_{{item.key_id}}.png" alt="" class="block" />
				<span class="block txt-base-color">{{item.keyword}}</span>
			</li>
		</ul>	
	</div>
	<div class="keyword-list">
		<span ng-repeat="item in eventList" 
				ng-if="item.view > 10" 
				class="kw-item"
				on-release="goMain()">
				{{item.keyword}}
		</span>
	</div>
</div>