<div class="list-category" ng-controller="ListCategoryCtrl">
	
	<ul class = "ul-list txt-center">
	   <li ng-repeat="item in categoryList" 
	   		ng-if="item.code_cd != 'CG00'" 
	   		class = "cus-col txt-center"
	   		on-release="goMain()">
			<img src="img/icon/category_{{item.code_cd|lowercase}}.png" class="w80" alt="" />
			<span class="block">{{item.code_nm}}</span>
	   </li>
	</ul>
	
	<div class="list-category-footer">
		<span class="total-category" on-touch="goMain()" >카테고리 전체보기</span>
	</div>
</div>
