<ion-view cache-view="false" title="<img class='main_tit' src='img/main_logo.png' />" class="main-list" >
	<ion-nav-buttons side="right">
		<button class="button icon ion-android-more-vertical order_btn" 
			ng-click="orderBtn()"></button>
	</ion-nav-buttons>
  <ion-content>
    <ion-list
	          show-delete="shouldShowDelete"
	          show-reorder="shouldShowReorder"
	          can-swipe="listCanSwipe">
	  <ion-item 
	  		ng-repeat="item in all" 
	  		class="padding_none" 
	  		item="item">
	  	<div class="main-list-display" style="height:{{displayH}}px">
		  	<a class="block"
		  		ng-href="#/tab/shop-detail/{{item.shop_id}}">
		  		<img 
		  			ng-src="http://52.79.78.117/img/{{item.shop_img}}"
		  			class="w100" alt="" />
		  	</a>
		  	<!-- total view 삭제 -->
	  		<!--<span class="main-list-display-total">total {{item.total}}</span>-->
	  	</div>
		
		<div class="main-event-list clear">
			<div class="events">
				<!-- ion-android-favorite -->
				<i ng-if="item.zzim_on === true"
					class="button icon ion-android-favorite cus-icon-type01 base-color" 
					ng-click="point('zzim',item)"></i>
				<i ng-if="item.zzim_on === false"
					class="button icon ion-android-favorite-outline cus-icon-type01 base-color" 
					ng-click="point('zzim',item)"></i>
				<!-- <i class="button icon ion-android-share-alt cus-icon-type01" ng-click="point('share',item)"></i> -->
			</div>
			<div class="links {{item.web_link?'on':''}}">
				<span class="button button-stable" ng-click="webLink(item.web_link)">
				  페이스북에서 <span class="ls_005">보기</span>
				</span>
			</div>
		</div>
		
		<ul class="main-list-top">
			
			<li class="shop_nm">
				<span><b class="ls_005 font-light">{{item.shop_nm}}</b></span>
			</li>
			<li class="dscnt_txt">
				<b class="base-color">DISCOUNT</b> <span class="ls_005">{{item.dscnt_txt}}</span>
			</li>
			<li class="content">
				<span class="ls_005">{{item.contents| limitTo:item.contents.indexOf('\n') }}</span>
			</li>
			<li class="kw_list" >
				<span class="ls_005"  ng-repeat="kw in item.keyword.split(',')" ng-if="$index < 3">#{{kw}}</span> 
			</li>
		</ul>
	    
	
	  </ion-item>
	</ion-list>
	
	<ion-infinite-scroll 
		ng-if="!noMoreItemsAvailable"
		on-infinite="loadMore()" 
		distance="10%">
		<ion-infinite-scroll-content
	      loadingSpinner="bubbles"
	      loadingText="Loading more data...">
	    </ion-infinite-scroll-content>
	</ion-infinite-scroll>
	<div class="txt-center">{{notData}}</div>
  </ion-content>
</ion-view>