<ion-view view-title="일반회원가입" class="join">
	<ion-nav-buttons side="left">
		<span class="button button-clear icon ion-chevron-left back_icon" 
				ng-click="back()" 
				hide-state></span>
	</ion-nav-buttons>
	<ion-content overflow-scroll="true">
		<div class="join-inner dp">
			<h1 class="logo">
				<img src="img/logo.png" alt="" />
				<span>나만이 알고 있는 할인 꿀팁! 이제는 공유해주세요~</span>
			</h1>
			<form ng-submit="join_submit()">
				<p class="relativelayout email_chk">
					<label class="block">
						<input type="text"
							class="fs_default default_padding"
							placeholder="ex) bogoga@naver.com" 
							ng-model="data.email" 
							maxlength="30" />
					</label>
					<span class="button" ng-click="emailChk()">중복확인</span>
				</p>
				<p>
					<label for="">
						<input type="text"
							class="fs_default default_padding"
							placeholder="비밀번호를 입력 해주세요 (최대10자)"
							maxlength="10"
							ng-model="data.password" />
					</label>
				</p>
				<p>
					<label for="">
						<input type="text"
							class="fs_default default_padding"
							placeholder="비밀번호 재입력"
							maxlength="10"
							ng-model="data.password_chk" />
					</label>
				</p>
				
				<div class="assent_chk">
					<p class="fs_default clear">
						<label for="" class="block">
							<input type="checkbox" ng-model="data.access" />
							<span class="fs_default">서비스 이용약관 동의</span>
						</label>
						<em class="button" ng-click="assentPop('access')" >[보기]</em>
					</p>
					<p class="fs_default clear">
						<label for="" class="block">
							<input type="checkbox" ng-model="data.personal" />
							<span class="fs_default">개인정보 취급방침 동의</span>
						</label>
						<em class="button" ng-click="assentPop('personal')">[보기]</em>
					</p>
				</div>
				<input class="button submit_type01 fs_default" type="submit"  value="일반회원가입" />
			</form>
		</div>
	</ion-content>
</ion-view>