<ion-view view-title="로그인" class="login">
	<ion-nav-buttons side="left" >
		<span
				class="button button-clear icon ion-chevron-left back_icon" 
				ng-click="back()" 
				hide-state></span>
	</ion-nav-buttons>
	<ion-content>
	    <div class="login-inner dp">
			<h1 class="logo">
				<img src="img/logo.png" alt="" />
				<span>이메일 입력만으로 간편하게 로그인이 가능 합니다.</span>
			</h1>
			<p class="login-email">
				<label for="">
					<input type="text"
						class="input_dp fs_default"
						placeholder="ex) bogoga@naver.com" 
						ng-model="data.user_email" 
						maxlength="30" />
				</label>
			</p>
			<p class="login-pw relativelayout">
				<label for="">
					<input type="password"
						class="input_dp fs_default"
						placeholder="비밀번호를 입력 해주세요"
						maxlength="10"
						ng-model="data.user_pw" />
				</label>
				<span class="button fs_default" ng-click="defaultLogin()">로그인</span>
			</p>
			<p class="an_login">
				<button class="button facebook" ng-click="fbLogin()">
					<!-- <i class="icon ion-social-facebook"></i> -->
					페이스북 로그인
				</button>
				<button class="button bogoga" ng-click="join()">
					보고가 회원가입
				</button>
			</p>
		</div>
	</ion-content>
</ion-view>
