<ion-view view-title="검색 상세" class="search">
	<ion-nav-buttons side="left" >
		<span
				class="button button-clear icon ion-chevron-left back_icon" 
				ng-click="back()" 
				hide-state></span>
	</ion-nav-buttons>
	<ion-content overflow-scroll="true">
		<!-- tab header -->
		<div class="search_area">
			<div class = "row search-inner-tabs">
			   <a ng-repeat="item in tabList" item="item" class="search-tab-item col txt-center"
			   	ng-class = "item.active ? 'cus-active' : 'cus-default' " 
			   	on-release="search_tab(item)"
			   	>{{ item.tabTitle }}</a>
			</div>
		</div>
		
		
		<!-- ng-include -->
		<div class="search-inc" ng-include src="tab.url" ></div>
	</ion-content>
</ion-view>
