<ion-view view-title="검색" class="catgory-area">
	<ion-content overflow-scroll="true">
		<div class="bigkeywod-list">
			<h4>이색할인</h4>
			<ul class="txt-center clear">
				<li class="list-item" ng-repeat="item in el" ng-if="item.view < 10" ng-click="goMain('keyword','{{item.keyword}}')">
					<img src="img/icon/keyword_{{item.key_id}}.png" alt="" class="block" />
					<span class="block txt-base-color fs_08">{{item.keyword}}</span>
				</li>
				<li class="list-item" ng-click="goMain('keyword','')">
					<img src="img/icon/keyword_00.png" alt="" class="block" />
					<span class="block txt-base-color fs_08">이색키워드</span>
				</li>
			</ul>	
		</div>
		<div class="category-list">
			<h4>카테고리</h4>
			<ul class = "ul-list txt-center clear">
			   <li ng-repeat="item in nl" 
			   		class = "list-item txt-center"
			   		ng-click="goMain('code_cd','{{item.code_cd}}')">
					<img src="img/icon/category_{{item.code_cd|lowercase}}.png" class="w90" alt="" />
					<span class="block fs_08">{{item.code_nm}}</span>
			   </li>
			</ul>
		</div>
	</ion-content>
</ion-view>
