/* Empty. Add your own CSS if you like */
.base-color{
	color:#ff5a5e;
}
.base-background{
	background:#ff5a5e;
}
.block-background{
	background:#000;
}
.un-base-color{
	color:#666;
}
/*
.all_del{
    top: 0 !important;
    right: 10px !important;
  	font-size:0.8em;
}
*/
.txt-base-color{
	color:#666;
}
.txt-center{
	text-align: center;
}
.txt-left{
	text-align: left;
}
.txt-right{
	text-align:right;
}
.block{
	display:block;
}
.none_block{
	display:none;
}
.thumbnail{
	border-radius:50%;
}
.font-light{
	font-weight: lighter;
}
.font-bold{
	font-weight: bold;
}
.ls_01{
	letter-spacing: -0.1em;
}
.ls_005{
	letter-spacing: -0.05em;
}
.fs_default{
	font-size:0.8em !important;
}
.fs_bold{
	font-size:1.2em !important;
	font-weight: bold;
}
label.star_icon{
	padding: 0 0 0 20px;
    margin: 10px 0;
    display: block;
}
label.star_icon i{
	    position: absolute;
    left: 5px;
    top: 2px;
    z-index: 10;
    color: #ff5a5e;
}
i.star_icon{
	position: absolute;
    left: 7px;
    bottom: 6px;
    color: #ff5a5e;
}
#toast-container{
	top:50%;
}
.relativelayout{
	position: relative;
}
.type_number_none::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    display:none;
}
.submit_type01{
	width:100%;
	background:#ff5a5e;
	color:#fff;
	
}
.padding_none{padding:0;}
.margin_none{margin:0;}
.dp{
	padding-left:5.20833333333333%;
	padding-right:5.20833333333333%;
}
.dm{
	    margin: 0px 5.20833333333333%;
}
.side_padding20{
	padding:0 20px 0 20px;
}
.w100 {width:100%;}
.point_row{
	border-bottom:1px solid #ccc;
}
.point_area{
	text-align:right;
	position:relative;
	border-left:1px solid #ccc;
}
.point_area:first-child{
	border-left:none;
}
.point-icon{
	width:22%;height:auto;
	position:absolute;
	left:10px;
	top: 50%;
    margin-top: -11%;
    padding: 0.2em;
}
.point-txt{
	position:relative;
	right:5px;
	padding:5px 0;
	display:inline-block;
}
.w80 {width:80%;}
.w90{width:90%;}
.tab-item.activated{
	color:#ff5a5e;
}
.paret_position{
	position:relative;
}
.bg_a{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:5;
}
a{
	    text-decoration: none;
}
.fs_08{
	font-size:0.8em;
}

.clear{}
.clear:after{content:'';display:block;clear:both;font-size:0px;}

.img-scale{}
.img-scale .close_btn{
	position: absolute;
	z-index:5;
	right: 10px;
	bottom:10px;
}
.order_btn{
	border:none;
}
.back_icon{
	
}
.back_icon:before{
	    font-size: 24px !important;
}

.left-buttons { top: 0 !important; }

.tab-nav.tabs{
	background: #fff !important;
}

ion-header-bar{
	height: 45px !important;
	background: #fff !important;
	border-bottom:1px solid #999 !important;
	padding:0px;
}
ion-header-bar .title{
	margin: 0 !important;
	height: 45px !important;
    line-height: 46px !important;
overflow: inherit !important;
}
ion-header-bar .buttons{
	margin:0px !important;	
} 

ion-content.has-header {
	top: 44px !important; 
}

.button-small {
    padding: 2px 10px 1px !important;
    min-width: 28px !important;
    min-height: 30px !important;
    font-size: 12px !important;
    line-height: 26px !important;
}

.logo{
	text-align: center;
	margin-bottom:40px;
	    margin-top: 25px !important;
}
.logo img{
	width: 100px;
	height: auto;
}
.logo span{
	display: block;
	font-size:0.1em;
	color:#606060;
	margin-top:5px;
}


.user-menu{		
	/*
	width: 100%;
    left: 0px !important;
    top: initial !important;
    bottom: 48px !important;
    */
    top: initial !important;
    bottom: 48px !important;

    width: 96%;
    height: 380px;
    min-height: 200px;
}
.user-menu .bar-header{
	    background: none;
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}
.user-menu .bar-header .title{
    color: #313131;
    text-align: center;
    display: block;
    width: 100%;
    margin: 0px;
    font-size: 1em;
    font-weight: bold;
    left: 0px !important;
    top:0px;
}
.user-menu .bar-header .button{
	position: absolute;
    right: 0px;
    top: 0px;
}
.user-menu ion-content{
	 background: #f6f7fb;
}
.user-menu ion-content > div{
	overflow: hidden;
}
.user-menu ion-content .relativelayout{
	overflow: hidden;
}
.user-menu .default_login{
	position: relative;
}
.user-menu .default_login input{
	display:inline-block;
	
}
.user-menu .default_login button{
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -23px;
    color:#fff;
}
.user-menu .customer_center_icon{
	    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
        color: #666666;
}
.user-menu .customer_center_icon i{display: block;}
.user-menu .customer_center_icon span{
	    display: block;
    font-size: 0.5em;
    text-align: center;
    padding: 0px;
    margin: 0px;
    line-height: initial;
    min-height: initial;
    position: relative;
    top: -7px;
}

.user-menu .setting_icon{
	    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
        color: #666666;
}
.
.user-menu .setting_icon i{display: block;}
.user-menu .setting_icon span{
	    display: block;
    font-size: 0.5em;
    text-align: center;
    padding: 0px;
    margin: 0px;
    line-height: initial;
    min-height: initial;
    position: relative;
    top: -7px;
}
.user-menu .user_thumb{
	    display:block;
}
.user-menu .user_thumb p{
	width: 80px;
	height:80px;
	overflow:hidden;
    margin: 10px auto 0 auto;
    /*
    border-radius: 50%;
    border:1px solid #ccc;
    */
}
.user-menu .user_thumb img{
	width: 100%;
    height: 100%;
    border-radius: 50%;
}
.user-menu .user_thumb span{
	text-align: center;
	display: block;
	    margin-top: 2px;
}
.user-menu .user_info{
	    width: 55.98958333333333%;
    margin: 15px auto 0 auto;
    text-align: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    /* font-size: 0.8em; */
    background: #fff;
}
.user-menu .user_info span.button{
	        font-size: 0.9em;
    background: none;
    min-height: initial;
    line-height: initial;
    padding: 6px 0;
    color: #666666;
}
.user-menu .user_info span.button .icon{
	padding-right:1.5em;

}
.user-menu .user_info span.button .icon:before{
	line-height: 17px;
		font-size:1.4em;
}
.user-menu .user_recommend{
	    background: #fff;
    border-top: 1px solid #ccc;
    margin-top: 10px;
}
.user-menu .user_recommend ul{
	    padding: 10px 5.20833333333333% 10px 5.20833333333333%;
}
.user-menu .user_recommend li{
	display: block;
    border-radius: 0.5em;
    background: #4b65a0;
    font-size: 0.8em;
        min-height: 30px;
    line-height: 30px;
    margin-top:10px;
    color:#fff;
}
.user-menu .user_recommend li:first-child{
	margin-top:0px;
}
.user-menu .user_recommend .icon:before{
	    line-height: 30px;
}
.user-menu .user_recommend li b{
	display: inline-block;
	padding:0 0.4em 0 0.3em;
}
.catgory-area{}
.catgory-area ion-content{
	padding:20px 5.20833333333333% 0 5.20833333333333%;
}
.catgory-area h2{
	position: relative;
    text-align: center;
    color:#555;
}
.catgory-area hr{
	    width: 90%;
    z-index: 1;
    margin: 0 auto;
    position: relative;
    top: 22px;
        color: #333;
}
.catgory-area p{
	display: inline-block;
    z-index: 5;
    position: relative;
    font-size: 0.6em;
    background: #fff;
    padding: 0 15px;
    color:#333;
}
.catgory-area .bigkeywod-list{}
.catgory-area .bigkeywod-list ul{
	padding:18px 0 20px 0;
}
.catgory-area .bigkeywod-list h4{
    border-radius: 0.5em;
    text-align: center;
    font-size: 0.8em;
    padding: 10px 0;
    color: #fff;
    background: #ff5a5e;
     margin:0;
}
.catgory-area .bigkeywod-list .list-item{
	display:block;
	float:left;
	text-align:center;
	width:20%;
	color:#2c2c2c;
}
.catgory-area .bigkeywod-list .list-item:first-child{
	border-left:none;
}
.catgory-area .bigkeywod-list .list-item img{
	display:block;
	width:100%;
	padding:0 10%;
}
.catgory-area .bigkeywod-list .list-item span{
	margin-top:8px;
	font-size:0.6em;
}

.catgory-area .category-list{
}
.catgory-area .category-list ul{
	padding:18px 0 20px 0;
}
.catgory-area .category-list h4{
    border-radius: 0.5em;
    text-align: center;
    font-size: 0.8em;
    padding: 10px 0;
    color: #fff;
    background: #4b65a0;
    margin:0;
}
.catgory-area .category-list .ul-list{}
.catgory-area .category-list .list-item{
	display:block;
	float:left;
	text-align:center;
	width:20%;
	color:#2c2c2c;
	margin-bottom:10px;
}
.catgory-area .category-list .list-item img{
	display:block;
	width:100%;
	padding:0 10%;
}
.catgory-area .category-list .list-item span{
	margin-top: 8px;
	font-size:0.6em;
}
/* category */
.category{}
.category .keyword-list{
	height:100% !important
}
.category_btn{
	border: none;
}

.category-bb{
	min-width:320px;
	max-width:640px;
	width:100%;
	height:auto;
}

.category .category-tab-item{
	max-width: 320px;
	border:none !important;
}

.category-inner-tabs{
	position: relative;
	top:0px;
	overflow: hidden;
	height: 30px;
	padding:0;
}
.category-inner-tabs .cus-active{
	background-color:#ff5a5e !important;
	color:#ffffff !important;
}
.category-inner-tabs .cus-default{
	color:#ff5a5e !important;
	border: 1px solid #ff5a5e;
}

.category-inner-tabs .cus-default:first-child,
.category-inner-tabs .cus-active:first-child{
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;	
}

.category-inner-tabs .cus-default:last-child,
.category-inner-tabs .cus-active:last-child{
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;	
}

.event-category{}
.event-category .bigkeywod-list{}
.event-category .bigkeywod-list .list-item{
	display:inline-block;
	text-align:center;
	width:22%;
	border-left:1px solid #ccc;
	padding: 0 0 20px 0;
}
.event-category .bigkeywod-list .list-item:first-child{
	border-left:none;
}
.event-category .bigkeywod-list .list-item img{
	display:block;
	width:100%;
	padding:10px 20px;
}

.event-category .keyword-list{
	border-top:1px solid #ccc;
	background-color:#e8e8e8;
	padding:10px; 
}
.event-category .keyword-list .kw-item{
	display:inline-block;
	background-color: #fff;
	border:1px solid #ccc;
	border-radius: 6px;
	padding:5px 8px;
	margin: 4px;
}

.search{}
.search .category-tab-item{
	max-width: 320px;
	border:none !important;
}
.search .search_area{
	/*margin: 15px 0 10px 0;*/
	padding: 15px 5.20833333333333% 10px 5.20833333333333%;
}

.search-inner-tabs{
	position: relative;
    top: 0px;
    overflow: hidden;
    height: 30px;    
    padding: 0;
}
.search-inner-tabs .cus-active{
	background-color:#ff5a5e !important;
	color:#ffffff !important;
}
.search-inner-tabs .cus-default{
	color: #ff5a5e !important;
	border: 1px solid #ff5a5e;
}

.search-inner-tabs .cus-default:first-child,
.search-inner-tabs .cus-active:first-child{
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;	
}

.search-inner-tabs .cus-default:last-child,
.search-inner-tabs .cus-active:last-child{
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;	
}

.search-inc {
	position: absolute;
	top: 60px; left: 0; right: 0; bottom: 0;	

	overflow: auto;
}

.event-search{}
.event-search .search_bar{
	padding:0 5.20833333333333% 0 5.20833333333333%;
}
.event-search .search_bar .item-input-wrapper{
	margin:0px !important;
	background:#fff;
}
.event-search .search_bar .icon{
	margin:0px !important;
	background:#fff;
}
.event-search .search_bar .item-input-inset{
	height: inherit;
}
.event-search .bar-header{
    background: none;
    height: inherit !important;
    padding: 0px;
    border: 1px solid #ccc;
    border-radius: 0.5em;
}
.event-search .local-list{
	    padding:20px 5.20833333333333% 10px 5.20833333333333%;
}
.event-search .local-list ul{}
.event-search .local-list li{
	float: left;
	width:20%;
	    margin-bottom: 15px;
	        font-size: 0.8em;
	        
	        
}
.event-search .local-list li.activated{
	background: #8a1414;
    border-radius: 50%;
}
.event-search .local-list li.activated img{
    display: block;
    opacity: 0.5;
}
.event-search .local-list img{
	display: block;
	width:100%;
	margin:0 auto;
	padding: 5px;
    min-width: inherit;
    min-height: inherit;
    display: block;
    border: none;
    background: #fff;
    line-height: inherit;
    text-align:center;
}
.event-search .local-list img:before{

}
.event-search .local-list span{
	    position: absolute;
    left: 0;
    top: 50%;
    display: inline-block;
    width: 100%;
    margin-top: -5px;
    text-align: center;
}

.event-search .keyword-list{
	border-top:1px solid #ccc;
	padding:0 5.20833333333333% 0 5.20833333333333%;
}
.event-search .keyword-list h4{
	border-radius: 0.5em;
    text-align: center;
    font-size: 0.8em;
    padding: 10px 0;
    color: #fff;
    background: #4b65a0;
        margin: 15px 0 0 0;
}
.event-search .keyword-list li.button{
	border-radius: 0.5em;
    text-align: center;
    font-size: 0.8em;
    padding: 10px 0;
    color: #4b65a0;
    margin: 0;
    border: 1px solid #ccc;
    /* width: 100%; */
    display: block;
    min-height: initial;
    line-height: initial;
        margin-top: 12px;
}



.list-category{}
.list-category .ul-list{
	
}
.list-category .ul-list .cus-col{
	display: inline-block;
	width:22%;
}
.list-category-footer{
	border-top:1px solid #ddd;
	text-align: right;
	padding: 10px;
}
.list-category-footer .total-category{
	padding:0 0 0 20px;
	
}
.list-category-footer .total-category:before {
	content: '';
	display: inline-block;
	width:20px;height:20px;
	background-image: url("../img/icon/icon_3.png") ;
	background-size: 20px 20px;
	margin-right: 10px;
    position: relative;
    top: 3px;
}

.search .subway{
	height: 100%;
	padding: 0 5.20833333333333% 0 5.20833333333333%;
}
.search .subway .subway_tit{
	    border: 1px solid #4b65a0;
    border-radius: 6px;
        overflow: hidden;
}
.search .subway .subway_tit .bar-center{
	    position: absolute;
    width: 1px;
    height: 31px;
    border-left: 1px solid #4b65a0;
    top: 0px;
    left: 50%;
    margin-left: -1px;
}
.search .subway .subway_tit h2{
	float: left;
    width: 50%;
    padding: 5px 0;
    margin: 0;
    font-size: 0.9em;
    color: #4b65a0;
}
.search .subway .subway_tit h2:first-child{
	background: #4b65a0;
	color:#fff;
}
/* end category */


.header-item{
	    font-size: 16px !important;
    font-weight: bold !important;
}
/* main */
.main-list{}
.main_tit{
	width: 70%;
    position: absolute;
    left: -19px;
    bottom: 8px;
}
.main-list .row{
	padding:0;
	position: relative;
    top: -4px;
}
.main-list .col{
	padding:0;
}
.main-list-display{
	position:relative;
    overflow: hidden;
}
.main-list-display a{
	    position: absolute;
    top: -23%;
}
.main-list-display-total{
	    position: absolute;
    right: 5px;
    bottom: 5px;
    z-index: 10;
    background: #fff;
    padding: 5px 20px;
    opacity: 0.9;
    display:block;
    font-size:0.9em;
}
.main-list-top{
	padding:15px 20px 15px 20px;
}
.main-list-top .shop_nm{
	    font-size: 1em;
	    color:#2e2e2e;
}
.main-list-top .dscnt_txt{ 
	font-size:0.8em;
	margin:8px 0 4px 0;
	color:#606060;
}
.main-list-top .dscnt_txt b{
	display: inline-block;
	padding:0 4px 0 0;
	font-size:0.8em;
}
.main-list-top .dscnt_txt span{
	font-size:0.8em;
}
.main-list-top .content{ 
	font-size:0.8em;
	color:#606060;
}
.main-list-top .content span{ 
	    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.main-list-top .kw_list{
	overflow: hidden;
	font-size:0.7em;
	color:#606060;
	width:80%;
	padding-top: 4px;
}
.main-list-top .kw_list span{
	display: inline-block;
	padding-right:5px;
}
.main-event-list{
	border-bottom:1px solid #ccc;
	padding: 3px 0 0 0;
}
.main-event-list .events{
	float:left;
	    padding-left: 15px;
}
.main-event-list .events .button{
	    background: none;
    /*min-height: 30px;*/
    min-width: 30px;
    padding: 0 6px;
    /*line-height: 30px;*/
}
.main-event-list .events .button:before{
	font-size:30px;
	/*line-height: 30px;*/
}
.main-event-list .events .activated{
	color:#ff5a5e;
	border:none;
}
.main-event-list .links{
	float:right;
	padding: 6px 15px 0 0;
}
.main-event-list .links .button{
	    border: 1px solid #4b65a0;
    color: #4b65a0;
    min-height: inherit !important;
    line-height: inherit !important;
    padding: 5px 15px;
    font-size: 12px;
    background-color: #fff !important;
}
.main-event-list .links .activated{
	background: #4b65a0 !important;
	color:#fff;
}
.main-event-list .links.on span{
	background: #4b65a0 !important;
	color:#fff !important;
}
/* shopinfo */
.shop-info{}
.shop-info .row{
	padding:0;
	position: relative;
    top: -4px;
}
.shop-info .col{
	padding:0;
}
.shop-info-top{
	padding: 20px 5.20833333333333% 20px 5.20833333333333%;
}
.shop-info-top .shop_nm{
	font-size:1.2em;
}
.shop-info-top .dscnt_txt{
	font-size:0.9em;
	color:#646464;
	    margin: 8px 0 4px 0;
}
.shop-info-top .content{
	font-size:0.9em;
	color:#646464;
}
.shop-info .scroll-inner{
	position:relative;
	top:44px;
}
.shop-info .banner_info{
	position:relative;
}
.shop-info-display-total{
	    position: absolute;
    right: 5px;
    bottom: 10px;
    z-index: 10;
    background: #fff;
    padding: 5px 20px;
    opacity: 0.9;
    display:block;
}
.shop-info .keyword-list{
	padding: 0 5.20833333333333% 100px 5.20833333333333%;
	margin-top: 20px;
}
.shop-info .keyword-list .kw-item{
	display:inline-block;
	background-color: #f7f7f7;
	border:1px solid #ccc;
	border-radius: 6px;
	padding:5px 8px;
	margin: 0 3% 10px 0;
	color:#606060; 
}
.shop-info .use-chk{
	padding:5px 0 0 0;
	border-top:1px solid #cacaca;
	border-bottom:1px solid #ccc;
}
.shop-info .use-chk .col{
	text-align: center;
}
.shop-info .use-chk .use-icon{
	width:40%;height:auto;
}
.shop-info .use-chk .use-txt{
	display:block;
	font-size:0.8em;
}
.shop-info .detail{
	padding: 10px 5.20833333333333% 20px  5.20833333333333%;
}
.shop-info .detail pre{
	font-size:0.8em;
}
.shop-info-footer{
	    position: fixed;
    bottom: 0px;
    left: 0px;
    border-top:1px solid #ccc;
    width: 100%;
    font-size:0px;
}
.shop-info-footer .info-link{
	display:inline-block;
	width:65%;height:100%;
	background: #fff;
	font-size:12px;
	
	padding:10px 0;
}
.shop-info-footer .call-link{
	    display: block;
    height: 100%;
    color: #fff;
    font-size: 12px;
    padding: 10px 0;
}
.map-area{
	    padding: 0 5.20833333333333% 0 5.20833333333333%;
}

#map{
	height:200px;
	border:1px solid #ddd;
	margin-bottom:10px;
}
.map-area p{}
.map-area b{
	position: absolute;
	left:0;
	
}
.map-area span{
	display: block;
	padding:0 0 0 40px;
}

.zzim-list{
	
}
.zzim-list ion-item{
	position:relative;
	padding-left:84px;
}
.zzim-list .del{
	background: #fff !important;
	position:absolute;
	right:0px;
	top:0px;
}
.zzim-list .tn_img{
	padding:0px;
}
.zzim-list .tn_img img{
	top:24px;
	max-width:50px;
	max-height:50px;
}
.zzim-list .zzim_info{
	position: relative;
	padding-left:25px;
	display:inline-block;
}
.zzim-list .addr_info{
	position: relative;
	padding-left:25px;
	display:inline-block;
}
.zzim-list i.icon{
	font-size:1.4em;
	padding:0;margin:0;height:auto;
	left:0;
	top: 3px;
}

.manager{}
.manager .margin_t{
	margin: 25px 0 0 0;
}
.manager .default_padding{
	 padding: 15px 5px 5px 10px;
}
.manager .addr_area{}
.manager .addr_search{
	border: 1px solid #ccc;
    height: 30px;
    line-height: 30px;
    min-height: 30px;
    padding: 0 30px;
    font-size: 0.8em;
	margin-left:10px;
}
.manager .post_no{
	display: block;
}
.manager .post_no input{
	width:80px !important;
	text-align:center;
	display: inline-block;
}
.manager .addr_info{
	display: block;
}
.manager .addr_info textarea{
	    width: 100%;
    resize: none;
    border-bottom: 1px solid #ddd;
    line-height: 1.4em;
   
}
.manager_info{
	/* padding:0 20px 0 20px; */
	    padding: 0 7.8125% 7.8125% 7.8125%;
}
.manager_info .img_area{
	margin-bottom:20px;
}
.manager .img_reg{
	    height: 35px;
    min-height: 35px;
    line-height: 35px;
    border-radius: 0.5em;
        margin: 0px;
        background: #4b65a0;
}
.manager .call_chk{}
.manager .call_chk p{
	margin:0px;
}
.manager .call_chk label{
	display: block;
}
.manager .call_chk .first_no{
	width:50px;
	border:1px solid #ccc;
}
.manager .phon_area{
}
.manager .phon_area input{
	display: inline-block;
}
.manager .phon_area .phon_no{
	border-bottom:1px solid #ccc;
	width:80%;
	text-align:left;
	
	letter-spacing: 0.1em;
}
.manager .call_chk input[type=radio]{
	position: relative;

	width: 22px;
    height: 22px;

    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;

    outline: none;

    visibility: hidden;
}
.manager .call_chk input[type='radio']:after{
	width: 22px;
    height: 22px;
    border-radius: 11px;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #ff5a5e;
}
.manager .call_chk input[type='radio']:before{
	width: 14px;
    height: 14px;
    border-radius: 7px;
    position: absolute;
    left: 0; top: 0;
    margin-top: 4px;
    margin-left: 4px;
    background-color: #fff;
    content: '';
    display: inline-block;
    visibility: visible;    
}

.manager .call_chk input[type='radio']:checked:before{
	background-color: #ff5a5e;
}

.manager .phon_area input[type=radio]{
	position: relative;
	left:20px;
	top:8px;
}
.manager .cell_area{}
.manager .cell_area input{
	display: inline-block;
}
.manager .cell_area .call_no{
	border-bottom:1px solid #ccc;
	width:80%;
	text-align:left;
	letter-spacing: 0.1em;
}
.manager .cell_area input[type=radio]{
	position: relative;
	left:20px;
	top:8px;
}
.manager_info input[type=text]{
	border-bottom:1px solid #ddd;
	width:100%;
}

.manager .subway_area{
	text-align: center;
}
.manager .subway_area > label{
	text-align: left;
}
.manager .subway_area span{
	    display: inline-block;
    padding: 0 4%;
    margin: 0;
    font-size: 2em;
    color: #a0a0a0;
    position: relative;
    top: 4px;
}
.manager .subway_area input[type='text']{
	    border: 1px solid #ccc;
    width: 40%;
    display: inline-block;
    padding: 0;
    min-height: 27px;
    line-height: 27px;
    border-radius: 0.5em;
}
.category_area{}
.category_area label{
	float:left;
	width: 30%;
}
.category_area label em{
	display: inline-block;
	padding:0 0 0 5px;
}
.category_area input.button{
	    /* float: left; */
    font-size: 0.8em;
    line-height: normal;
    /* margin: 10px 0; */
    min-height: auto;
    width: 68%;
    border: 1px solid #ccc;
    padding: 5px;
    position: relative;
    top: 4px;
}
.manager .choice_list{
	border:1px solid #ccc;
}
.manager .choice_list .tit{
	border-bottom:1px solid #ccc;
	text-align: left;
	    padding: 4px 0 4px 14px;
	    position: relative;
}
.manager .choice_list .tit i{
	color:#ff5a5e;
	position: absolute;
	left:7px;
	top:4px;
}
.manager .choice_list li{
	position: relative;
	text-align: right;
	font-size:0.8em;
}
.manager .choice_list li.first-child{
	margin-top: 10px;
}
.manager .choice_list li:last-child{
	margin-bottom:15px;
}
.manager .choice_list span{
	position: absolute;
	left: 0px;
	top: 0px;
	padding: 6px 0 6px 15px;
}
.manager .choice_list label{
	display: inline-block;
	padding: 6px;
	font-size:0.8em;
}
.manager .choice_list label:last-child{
	margin-right:10px;
}
.manager .choice_list i{
	position: relative;
    top: -3px;
    left: 2px;
        padding: 0 10px 0 0;
}
.manager .choice_list input[type=radio]{
	width: 16px;
    height: 16px;
    position: relative;
    top: 2px;

    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;

    outline:none;

    visibility: hidden;
}
.manager .choice_list input[type=radio]:after{
	width: 16px;
    height: 16px;
    border-radius: 16px;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #ff5a5e;
}
.manager .choice_list input[type=radio]:before{
	width: 12px;
    height: 12px;
    border-radius: 12px;
    position: absolute;
    left: 0; top: 0;
    margin-top: 2px;
    margin-left: 2px;
    background-color: #fff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid white;
}

.manager .choice_list input[type=radio]:checked:before{
    background-color: #ff5a5e;    
}

.manager textarea[name=m_keyword]{
	border:1px solid #ccc;
	width:100%;
	height:50px;
	font-size:0.8em;
	resize: none;
	padding:10px;
}
.manager textarea[name=m_contents]{
	border:1px solid #ccc;
	width:100%;
	height:100px;
	font-size:0.8em;
	resize: none;
	padding:10px;
}
.manager .imgView{
	padding:0px;
	border: 1px solid #ccc;

}
.manager .imgView img{
	width:100%;
}

.market-join{}
.market-join .margin_t{
	margin:20px 0 20px 0;
}
.market-join .margin_bt{
	margin:40px 0 0 0;
}
.market-join .default_padding{
	padding:5px 5px 5px 20px;
}
.market-join input[type=text]{
	border-bottom:1px solid #ddd;
	width:100%;
}
.market-join .biz_r_no input[type=text]{
	    width: 70%;
    display: inline-block;
}
.market-join .biz_r_no span.button{
	    font-size: 0.8em;
    line-height: inherit;
    min-height: inherit;
    padding: 4px 20px;
    border: 1px solid #ccc;
    position: absolute;
    right: 0px;
    bottom: 0px;
    color:#656565;
}
.market-join .biz_r_img{
	border: 1px solid #ccc;
    width: 100%;
        
}
.market-join .biz_r_img i{
	padding: 0 10px;
}
.market-join .biz_r_img i.icon:before{
	font-size:40px;
}
.market-join .biz_r_img span{
	 padding: 0 10px;
}
.market-join .addr_search{
	border: 1px solid #ccc;
    height: 30px;
    line-height: 30px;
    min-height: 30px;
    padding: 0 30px;
    font-size: 0.8em;
	margin-left:10px;
}
.market-join .post_no input{
	width:80px !important;
	text-align:center;
	display: inline-block;
}
.market-join .addr_info{
	display: block;
}
.market-join .addr_info textarea{
	    width: 100%;
    resize: none;
    border-bottom: 1px solid #ddd;
    line-height: 1.4em;
   
}
.market-join .subway_area{
	text-align: center;
}
.market-join .subway_area > label{
	text-align: left;
}
.market-join .subway_area span{
	    display: inline-block;
    padding: 0 4%;
    margin: 0;
    font-size: 2em;
    color: #a0a0a0;
    position: relative;
    top: 4px;
}
.market-join .subway_area input[type='text']{
	    border: 1px solid #ccc;
    width: 40%;
    display: inline-block;
    padding: 0;
    min-height: 27px;
    line-height: 27px;
    border-radius: 0.5em;
}
.market-join .date{
	   
}
.market-join .date div{
	 height: 34px;
}
.market-join .date .wave{
	display:block;
	
	 text-align: center;
	 position: relative;
	 top:5px;
	 font-size:1.5em;
	 color:#282828;
}
.market-join .date ionic-datepicker{
	display: block;
}
.market-join .date .start_dt{
	position: absolute;
    left: 0px;
    top: 0px;
    width: 40%;
    
}
.market-join .date .end_dt{
	position: absolute;
    right: 0px;
    top: 0px;
    width: 40%;
}
.market-join .date ionic-datepicker span{
	 background: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    color: #666;
    margin: 0px;
    min-height: inherit;
    line-height: inherit;
    padding: 6px 0;
    font-size: 1em;
}
.market-join .manager_member {
	
}
.market-join .manager_member label{
	        float: left;
    width: 30%;
}
.market-join .manager_member select{
	font-size: 0.8em;
    line-height: normal;
    min-height: auto;
    width: 68%;
    border: 1px solid #ccc;
    padding: 5px;
    position: relative;
    top: 4px;
    border-radius: 0.5em;
    text-align: center;
}

.market-join .assent_chk{}
.market-join .assent_chk p{
	position: relative;
	width:80%;
}
.market-join .assent_chk p:first-child{
	margin-bottom:5px;
}
.market-join label{

}
.market-join .assent_chk span{
	display: inline-block;
}
.market-join .assent_chk label{
	float: left;
}
.market-join .assent_chk em{
          min-width: inherit;
    min-height: inherit;
    line-height: inherit;
    font-size: 1em;
    padding: 0;
    color: #ff5a5e;
    display: block;
    margin-left: 5px;
    position: relative;
    bottom: 2px;
    float: left;
}
.market-join .assent_chk input[type=checkbox]{
    width: 20px;
    height: 20px;
    vertical-align: top;
    margin-right: 10px;
}
.imgScale-popup .popup{
	width:100%;
}
.imgScale-popup .popup img{
	width:100%;
	height:auto;
}
ion-content.post{
	    height: 260px;
	    top:150px !important;
	    background: #f7f7f7;
	    border-top:1px solid #999;
	    border-bottom:1px solid #999;
}
.post .post_info{
	    
    padding: 12px 3px;
    
}
.post .post_info p{
	font-size:0.8em;
	padding:0px;
	margin:0px;
	color: #666;
}
.post .item{
	    white-space: normal;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-left: none;
    border-right: none;
        color: #333 !important;
}
.post .post_no{
	    display: inline-block;
    width: 17%;
    vertical-align: top;
    font-size: 0.8em;
    float: left;
}
.post .addr_info{
	    display: inline-block;
    width: 78%;
    font-size: 0.8em;
}
.post .post_bar{
	    float: left;
    width: 3%;
}

.post-popup .popup{
	width: 85%;
    height: 480px;
    position: relative;
    border-radius: 0.5em;
    overflow: hidden;
    background: #fff;
}
.post-popup .popup-head{
	padding:0px;
	border-bottom:1px solid #ccc;
	padding:10px 0;
}
.post-popup .popup-buttons{
	position: absolute;
	bottom:0px;
	width:100%;
}
.post-popup form{
	display: block;
	position: relative;
	    margin-top: 10px;
}
.post-popup input[type=text]{
	    width: 70%;
    border-bottom: 1px solid #ccc;
        padding: 0 0 0 10px;
}
.post-popup input[type=submit]{
	position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
    min-height: inherit;
    line-height: inherit;
    width: inherit;
    padding:3px 20px;
    background: #ff5a5e;
    color: #fff;
    font-size:0.8em;
}
.post-popup .popup-body{
	padding:0px;
}


.subway .row{
    padding: 0;
    margin-top:0px;
    height: 93%;
}
.subway .col{
	position: relative;
    padding: 0;

    height: 98%;
}

.subway .col .col-scroll-wrapper {
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;

	overflow: auto;
}

.subway .tit{
	font-size:1.2em;
	border-top:2px solid #ddd;
	border-bottom:1px solid #ddd;
	
	background-color: #f3f3f3;
	
	padding:12px 0;
	margin: 0;
}
.subway .list-item{
	display: block;
	border-bottom:1px solid #ccc;
	padding:10px 0;
	color:#5f5f5f;
	font-size:0.8em;
}
.subway .line_code{
	border-right:1px solid #ccc;
}
.subway .line_code .list-item{
	background: #f7f7f7;

	}
.subway .line_code .list-item.on{
	background: #fff;
	color:#4b65a0;
	font-weight: bold;
}
.subway-popup .popup{
	width: 320px;
        height: 480px;
            border-radius: 0.5em;
    overflow: hidden;
}
.subway-popup .popup-body{
	padding:0px;
}
.subway-popup .popup-head{
	background:#ff5a5e;
}
.subway-popup .popup-head h3{
	color:#fff;
}
.subway-popup .popup-buttons{
	position: absolute;
	bottom:0px;
	width:100%;
}
.subway-popup ion-content{
	margin-top: 10px;
    height: 360px;
    border-bottom:1px solid #ccc;
}

.login{}
.login-inner{
	margin-top:30px;
}
.login-inner h1{
	
}
.login-inner label{
	
}
.login-inner input[type=text]{
	width:100%;
	border-bottom:1px solid #ccc;
	padding: 15px 5px 5px 10px;
}
.login-inner input[type=password]{
	width:100%;
	border-bottom:1px solid #ccc;
	padding: 15px 5px 5px 10px;
}

.login-inner .login-email{
	
}
.login-inner .login-pw{
	    margin-top: 20px;
}
.login-inner .login-pw label{
	display: inline-block;
	width:60%;
}
.login-inner .login-pw span{
	    position: absolute;
    right: 0px;
    bottom: 0px;
    display: inline-block;
    width: 34%;
    background: #999;
    color: #fff;
    min-height: initial;
    line-height: inherit;
    padding: 6px 0;
}

.login-inner .an_login{
	    margin: 30px 0 0 0;
}
.login-inner .an_login .button{
	    display: block;
    text-align: center;
    width: 100%;
}
.login-inner .an_login facebook i{
	padding: 0 1.6em 0 0;
}
.login-inner .an_login .facebook{
	    background: #4b65a0;
    color: #fff;
    font-size: 0.8em;
    margin-bottom: 15px;
    line-height: inherit;
    min-height: inherit;
    padding: 10px 0;
}
.login-inner .an_login .bogoga{
	    background: #ff5a5e;
    color: #fff;
    font-size: 0.8em;
    line-height: inherit;
    min-height: inherit;
    padding: 10px 0;
}
.join{}
.join-inner{
}
.join-inner h1{
	
}
.join-inner label{
	
}
.join-inner .default_padding{
	 padding: 15px 5px 5px 10px;
}
.join-inner input[type=text]{
	width:100%;
	border-bottom:1px solid #ccc;
}
.join-inner .email_chk{}
.join-inner .email_chk label{
	width:70%
}
.join-inner .email_chk span.button{
	    position: absolute;
    right: 0px;
    bottom: 0px;
    border: 1px solid #ccc;
    min-height: inherit;
    line-height: inherit;
    padding: 4px 20px;
    font-size: 0.8em;
    color: #666;
}
.join-inner .assent_chk{
	    margin: 25px 0 25px 0;
}
.join-inner .assent_chk p{
	position: relative;
	width:80%;
}
.join-inner .assent_chk p:first-child{
	margin-bottom:5px;
}
.join-inner .assent_chk label{
	float: left;
}
.join-inner .assent_chk span{
	display: inline-block;
}
.join-inner .assent_chk em{
        min-width: inherit;
    min-height: inherit;
    line-height: inherit;
    font-size: 1em;
    padding: 0;
    color: #ff5a5e;
    display: block;
    float: left;
    margin-left: 5px;
    position: relative;
    bottom: 2px;
}
.join-inner .assent_chk input[type=checkbox]{
    width: 20px;
    height: 20px;
    vertical-align: top;
    margin-right: 10px;
}

.setting{}
.setting .logout{
	
}
.accessterms{}
.accessterms > ion-content{
	overflow: hidden;
	    margin: 20px 0 0 0;
}
.accessterms .assent-inc ion-content{
    top: 50px; bottom: 20px;    
    left: 5.20833333333333%;
    right: 5.20833333333333%;

    background: #f7f7f7;
    padding: 10px;
    position: absolute;
    color: #666;
}
.pw_change .default_padding{
	 padding: 15px 5px 5px 10px;
}
.pw_change input[type=text]{
	width:100%;
	border-bottom:1px solid #ccc;
}
.assent{
	overflow: hidden;
}
.assent .assent-inc ion-content{
	margin: 10px 10px 40px 10px;
    top: 40px;
    padding: 0 20px;
    height: 300px;
}

.assent-popup{}
.assent-popup .popup{
	    width: 85%;
    height: 500px;
    position: relative;
}
.assent-popup .popup .popup-buttons{
	position: absolute;
    bottom: 0;
    width: 100%;
}
.order-popup{
}
.order-popup .popup{
	border-radius: 0.5em;
	    overflow: hidden;
	        width: 80%;
}
.order-popup .popup-body{
	padding:0;
	background: #fff;
}
.order-popup .popup .inner{
	overflow: hidden;
}
.order-popup li{
	border-bottom:1px solid #ccc;
	display: block;
    min-height: inherit;
    line-height: normal;
}
.popup_close{
	    position: absolute;
    top: 3px;
    right: 0px;
    font-size: 0px;
    background: transparent;
}    
.recent ion-item{
	position:relative;
}
.recent .tn_img{
	padding: 0px;
}
.recent .del{
	background: #fff !important;
	position: absolute;
    right: 0px;
    top: 0px;
}
.recent .tn_img img{
	
}
.imgReg-popup{}
.imgReg-popup .popup{
	border-radius: 0.5em;
    width: 85%;
}
.imgReg-popup input[type=checkbox]{
    width: 15px;
    height: 15px;
    vertical-align: top;
    position: relative;
    /* top: 15px; */
    margin: 10px;
}
.imgReg-popup img{
	    width: 70px;
    height: 47px;
    border: 1px solid;
}
.imgReg-popup .txt_info{
	    display: inline-block;
    vertical-align: top;
    padding: 12px 0 0 10px;
}
.imgReg-popup .button.each{
    height: 46px;
    border: 1px solid #ff5a5e;
    font-size: 0.8em;
    height: 25px;
    line-height: 25px;
    min-height: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
    /* margin-top: -17px; */
    border-radius: 0.8em;
    color:#ff5a5e;
}   
.imgReg-popup .popup-body{
	 border-top: 1px solid #ccc;
}
.imgReg-popup li{
	margin-top:0px;
}
.imgReg-popup .button.all{
	    position: absolute;
    top: 12px;
    left: 15px;
    /* border: 1px solid #ccc; */
    min-height: inherit;
    line-height: inherit;
    font-size: 0.8em;
    background: #ff5a5e;
    color: #fff;
    padding: 2px 10px;
}
.imgReg-popup .button.botton_btn{
	    width: 94%;
    border: 1px solid #ccc;
    /* margin: 0 auto; */
    display: block;
    min-height: 30px;
    line-height: 30px;
    background: #1a2b5d;
    color: #fff;
    font-size: 0.8em;
    margin: 20px auto 10px auto;
}
.category-popup .popup{
	border-radius: 0.5em;
    width: 85%;
}
.category-popup .popup-body{
	 border-top: 1px solid #ccc;
	 padding:0px;
}
.category-popup .popup-body .inner{
	overflow: hidden;
}
.category-popup ul{
	    padding: 0 10px 10px 10px;
}
.category-popup li{
	display: block;
    width: 33.33333333333333%;
    padding: 0 5%;
    /* margin-bottom: -20px; */
    /* padding: 0px; */
    float: left;
    margin-top:10px;
}
.logout-popup{}
.logout-popup .popup{
	    width: 80%;
    border-radius: 0.8em;
    overflow: hidden;
}
.logout-popup .popup-head{
	padding:0px;
}
.logout-popup .popup-body{
	padding: 15px 30px;
    border-bottom: 1px solid #ccc;
    text-align:center;
    background:#fff;
}
.logout-popup .popup-body .b1{
	color:#ff5a5e;
}
.logout-popup .popup-body .b2{
	color:#4b65a0;
}
.logout-popup .popup-body .b3{
	color:#191919;
}
.logout-popup .popup-buttons{
	    padding: 0;
    min-height: inherit;
}
.logout-popup .button {
	    min-height: inherit;
    line-height: inherit;
    padding: 6px 0 6px 0;
        font-size: 0.9em;
        background: #fff;
        color:#666;
}
.logout-popup .button:first-child{
	margin-right:0px;
	border-right:1px solid #ccc;
}

.inquiry{}
.inquiry p{
	padding:0px;
	margin:0px;
}
.inquiry img{width:100%;}
.guide{}
.guide p{
	padding:0px;
	margin:0px;
}
.guide img{width:100%;}

.marketGuide-popup{
	
}
.marketGuide-popup .popup{
	width: 90%;
	height: 90%;
	border:1px solid #999;
	background: #fff;
	position: relative;
}
.marketGuide-popup .popup-head{
	display: none;
}
.marketGuide-popup .popup-body{
	padding:0px;
}
.marketGuide-popup .popup-buttons{
	display: none;
}
.marketGuide-popup img{
	width:100%;
}
.marketGuide-popup .mj_user_info{
	text-align: center;
	background: #eeeff4;
	    padding: 20px 0;
}
.marketGuide-popup .mj_user_info p{
	margin:0px;
	font-size:0.8em;
	color:#666;
}
.marketGuide-popup .mj_user_info img{
	
}
.marketGuide-popup .mj_user_info .logo{
	width:100px;
	display: block;
	margin:0 auto;
}
.marketGuide-popup .mj_user_info .th{
	width:80px;
	display: block;
	margin:0 auto;
}
.marketGuide-popup .mj_user_info p{}
.marketGuide-popup .mj_detail{
	    text-align: center;
    padding: 20px 0 10px 0;
}
.marketGuide-popup .mj_detail img{
	width:85%;
}
.marketGuide-popup .submit_btn{
	width: 90%;
	display: block;
	border:1px solid #ccc;
	border-radius: 0.5em;
	text-align: center;
	background: #ff5a5e;
	color:#fff;
	padding:10px 0;
	margin: 0 auto;
}